<section>
  <Row>
    <Col span="12">
    <Button type="primary" size="large" shape="circle" icon="ios-plus-outline">新建</Button>
    <Upload action="//jsonplaceholder.typicode.com/posts/" style="display:inline-block">
      <Button type="ghost" size="large" shape="circle" icon="ios-download-outline">导入</Button>
    </Upload>
    支持word文档、pdf文件导入
    </Col>
    <Col span="12">
    <Input icon="ios-search" placeholder="请输入..." style="width:250px;float:right"></Input>
    </Col>
  </Row>
  <Row style="margin:30px 0;">
    <Col span="12"> 发布渠道： <span style="font-weight:700">人民日报中央厨房</span>
    </Col>
    <Col span="12">
    <Radio-group style="float:right">
      <Radio label="全部文章" style="margin-right:30px;"></Radio>
      <Radio label="已发表" style="margin-right:30px;"></Radio>
      <Radio label="草稿" style="margin-right:30px;"></Radio>
      <Radio label="已撤回"></Radio>
    </Radio-group>
    </Col>
  </Row>

  <div>

    <table class="table">
      <thead>
        <tr>
          <th>标题</th>
          <th></th>
          <th>作者</th>
          <th>时间</th>
          <th>状态</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">
            <img src="../../../assets/img.png" alt="">
          </th>
          <th scope="row">
            同宿舍4人全考上博士 “学霸”恋爱挣钱生活丰富
          </th>
          <td>南山南</td>
          <td>2017-07-22</td>
          <td>
            <Checkbox :value="true">已发表</Checkbox>
          </td>
          <td>
            <Dropdown>
              <a href="javascript:void(0)">
                <Icon type="edit"></Icon>
              </a>
              <Dropdown-menu slot="list">
                <Dropdown-item>置顶</Dropdown-item>
                <Dropdown-item>撤回</Dropdown-item>
                <Dropdown-item>删除</Dropdown-item>
              </Dropdown-menu>
            </Dropdown>
            <Dropdown style="margin-left: 20px">
              <a href="javascript:void(0)">
                  <Icon type="ios-gear-outline"></Icon>
              </a>
              <Dropdown-menu slot="list">
                <Dropdown-item>驴打滚</Dropdown-item>
                <Dropdown-item>炸酱面</Dropdown-item>
                <Dropdown-item disabled>豆汁儿</Dropdown-item>
                <Dropdown-item>冰糖葫芦</Dropdown-item>
                <Dropdown-item divided>北京烤鸭</Dropdown-item>
              </Dropdown-menu>
            </Dropdown>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>