.draft-back{
  background:  url(../../../assets/svg/草稿.svg) left center no-repeat ;
  background-size: 14px 14px;
  padding-left:20px;
}
.publish-back{
  background:  url(../../../assets/svg/已发表.svg) left center no-repeat ;
  background-size: 14px 14px;
  padding-left:20px;
}
.offline-back{
  background:  url(../../../assets/svg/已撤回.svg) left center no-repeat ;
  background-size: 14px 14px;
  padding-left:20px;
}
#title a{
  color: #495060;
}
