.draft-back{
  background:  url(../../../assets/svg/待审核.svg) left center no-repeat ;
  background-size: 14px 14px;
  padding-left:20px;
  color: #2EA9DF;
}
.publish-back{
  background:  url(../../../assets/svg/已发布.svg) left center no-repeat ;
  background-size: 14px 14px;
  padding-left:20px;
  color:#69BE5A;
}
.offline-back{
  background:  url(../../../assets/svg/未通过.svg) left center no-repeat ;
  background-size: 14px 14px;
  padding-left:20px;
   color:#E26161;
}
.offline{
  background:url(../../../assets/svg/已撤回.svg) left center no-repeat ;
  background-size: 14px 14px;
  padding-left:20px;
   color:#E26161;
}
.cao-gao{
  background:  url(../../../assets/svg/草稿.svg) left center no-repeat ;
  background-size: 14px 14px;
  padding-left:20px;
}
.to-top {
  position: absolute;
  top: 40px;
  left: 0px;
  color: #F95759;
  font-size: 20px;
  width: 4px;
  background: rgb(249, 87, 89);
  height: 20px;
  
}
#title a{
  color: #495060;
  text-align: left;
}
.hide{
  display: none;
}
.table thead th,td,.table th{
  text-align:center;
}
.table_con.table th,.table_con.table td{
	padding: 0.75rem 0;
}
.tr-hover:hover{
  background:#dddee1;
}

.icon-edit, .icon-set{
  width: 18px;

}
.btn-create span{
  padding-left:20px;
  position: relative;
}
.icon-create{
    position: absolute;
    width: 18px;
    left: 0px;
}
/*上传部分*/
.upload_doc{
  margin: 0px auto;
  width: 70%;
  color: #777;
  font-size: 14px;
}
.upload_doc_con{
  overflow: hidden;
  margin: 4px 0;
}
.upload_doc_con input{
  float: left;
  width: 190px;
  background: #fff;
  border: 1px solid #ddd;
  color: #777;
  padding: 0 5px;
  margin-right: 10px;
}
.upload_doc_con .ivu-upload{
  float: left;
}
.upload_doc_con .ivu-btn{
  padding: 4px 8px !important;
}
.upload_doc_mask .ivu-modal-body{
  height: 160px;
}
.upload_doc_mask .ivu-modal-header-inner{
  color: #777;
  font-weight: normal;
}
.upload_doc_mask .ivu-modal-footer div{
  padding-bottom: 10px;
  margin-right:20px;
}
.befor_upload {
  overflow: hidden;
  border: 1px solid #ddd;
  font-size: 12px;
  position: relative;
}
.befor_upload>span:first-child{
  float: left;
  width: 180px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  top: 0px;
  left: 2px;
  z-index: 2;
}
.befor_upload>span:last-child{
  float: right;
  position: absolute;
  top: 0px;
  right: 2px;
}
.befor_upload .ivu-icon{
  margin-left: 5px;
  color:#f60;
  cursor: pointer;
}
.befor_upload .ivu-progress-inner{
  border-radius: 0px;
  margin-top: -1px;
}
.ivu-upload-list{
  display: none;
}
.upload_doc_mask .ivu-modal-footer{
  display: none;
}
.befor_upload .ivu-progress-bg{
  border-radius: 0px;
}

.column-left{
  text-align: left!important;
}
 .table thead th{
  font-size: 14px!important;
}
.manage_con_col{
	color: #999;
}
.manage_con_col button:nth-child(1){

}
.manage_con_col button:nth-child(2){
	margin-left: 15px;
	border-color: #F95759!important;
	color: #F95759!important;
}

.publish-back, .offline-back{
  display: inline-block;
  margin-left:6px;
}
.content-logo{
    /* padding: 5px; */
    border: 1px solid #ddd;
}
