<section>
   <div v-if="noData">
  <Row type="flex" justify="center">
    <Col span="18" class="hidden-xss" :style="{display:hideHead}">
    <div class="header">
      <img src="../../assets/article/header.png">
    </div>
    </Col>
  </Row>
  <Row type="flex" justify="center">
    <Col :xs="24" :sm="12" :md="12" :lg="12">
    <div class="article" style="margin: 0px 0 50px 0;">
      <div>
        <div class="con_new hidden-xs">
        	<div class="tit_pic">
        		<img :src="cover" alt="" />
        		<img src="../../assets/bgjianb.png" alt="" class="title_mask" />
        		<h2 class="orginTit" :style="{textAlign: align}" v-if="subtitle == null">{{ title }}</h2>
        		<h2 class="orginTit" :style="{textAlign: align}" v-else>{{ subtitle }}</h2>
        	</div>
        	<div class="article_xinxi"  :style="{textAlign: align}">
        		<span>{{ conInfo.channel }}</span>
      			<span>{{ conInfo.time.substring(0,10) }}</span>
      			<span>{{ conInfo.author }}</span>
        	</div>
           <div style="text-align: center;display: block;" id="loading-div"><img style="width:30px;height:30px;" src="../../assets/loading.gif"></div>
        	<div class="shareContent" v-my-directive-audio="content" style="opacity: 0" id="content-div"></div>
        </div>
      </div>
    </div>
    <div class="footer">
      <!-- <img src="../../assets/article/footer.png"> -->
    </div>
    </Col>
    <Col span="6" :xs="0" :sm="6" :md="6" :lg="6" class="shareright" :style="{display: hideRight}">
    <div class="right">
      <img src="../../assets/article/right-1.png">
      <img src="../../assets/article/right-2.png">
    </div>
    </Col>
  </Row>
  <MainFooter></MainFooter>
  </div>
  <div v-else>
    <Row  type="flex" justify="center">
      <div class="error">
        <img src="../../assets/error/404.png"><br>
        <p>您访问的页面不存在</p>
      </div>

    </Row>
  </div>
</section>
