.header{
    margin: 10px 0;
}
.right{
    padding-left:20px;
}
.header img,
.footer img,
.right img
{
    width: 100%;
}
.right img:first-child{
    margin-bottom: 20px;
}
.con_new img{
	width: auto;
    max-width: 95%;
    height: auto;
}
.con_new img[src^="/static/ueditor/dialogs/attachment/fileTypeImages"]{
	width:auto;
}
.con_new ol{
  list-style: decimal;
}
.con_new ul{
  list-style: disc;
}
.con_new p{
  text-indent: 0px;
}
.con_new{
  text-align: left;
  font-size: 14px;
  line-height: 24px;
  margin: 14px 0;
  padding: 0 15px;
}
.error{
    text-align: center;
}
.error img{
    width: 80%;
}
.con_new embed{
	/*max-width: 100%;*/
  width:41.6vw;
  height:23.4vw;
}
.con_new video{
	/*max-width: 100%;*/
  width:41.6vw;
  height:23.4vw;
}
.error p{
    margin-top: 30px;
    color: #333;
    line-height: 30px;
    font-size: 18px;
}
.shareContent pre{
	margin: .5em 0;
	padding: .4em .6em;
	border-radius: 8px;
	background: #f8f8f8;
}
/*.video_container embed,.video_container video{
  width:100% !important;
}*/
.orginTit{
	font-size: 30px;
	font-weight: bold;
	text-align: left;
}
.article_xinxi{
	text-align: left;
    margin: 10px 0 20px;
    color: #ccc;
}
.article_xinxi span{
	display: inline-block;
    margin-left: 0px;
    margin-right: 10px;
}
.tit_pic img{
	display: none;
}






/*添加audio样式*/
.audioWrap{
    position: relative;
    /*width: 95%;*/
    width:100% !important;
    height: 100px;
    border: 1px #f0f0f0 solid;
    border-radius: 3px;
    background: #fcfcfc;
    box-sizing: border-box;
    margin:30px auto;
}
.audioBtnImg{
  width:42px !important;
}
.audioBtn{
    position: absolute;
    width:45px;
    height:45px;
    top:50%;
    transform:translateY(-50%);
    margin-left: 15px;
    margin-right: 15px;
    cursor: pointer;
}
.content{
    margin-left: 75px;
    /*width: 80%;*/
     width:auto !important;
    height:100px;
    box-sizing: border-box;
    overflow: hidden;
}
.songName{
    height:20px;
    width: 90%;
    margin:15px 0 10px 0;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.progress{
    /*width:96%;*/
    width:98% !important;
    margin:10px 0 0 0;
    cursor: pointer;
    height:3px;
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    appearance:none;
    border:none;
}
.progress::-ms-fill{
    background:#f95858;
}
.progress::-moz-progress-bar{
    background:#f95858;
}
.progress::-webkit-progress-value{
    background:#f95858;
}
.timeContemt{
    position: relative;
    /*width: 90%;*/
    width:98% !important;
    height:20px;
    box-sizing: border-box;
    overflow: hidden;
}
.time{
    width:40px;
    height:20px;
    font-size:12px;
    color:#b2b2b2;
    position: absolute;
    top:0;
    padding-top:3px;
}
.download{
    position:absolute;
    bottom:-24px;
    right:0;
    text-decoration:none;
    padding-left:20px;
    display:inline-block;
    color:#b2b2b2;
    background:url(http://mp.dev.hubpd.com/static/ueditor/audioimages/download.svg) left center no-repeat;
    background-size:14px 14px;
}
.totleTime{
     right: 0;
     text-align: right;
}



/*手机端分享*/
@media screen and (max-width: 768px) {
	.article_xinxi span{
		margin-left: 5px;
	}
	.con_new embed{
		max-width: 100%;
		/*height: auto;*/
	}
	.con_new video{
		max-width: 100%;
		height: auto;
	}
    .audioWrap{
        width:95%;
        height:84px;
        margin:15px auto;
    }
    .audioBtn{
        width:30px;
        height:30px;
        top:40%;
        background-size: 30px 30px !important;
    }
    .audioBtnImg{
      width:30px !important;
    }
    .content{
        width:80%;
        margin-left:60px;
    }
    .timeContemt,.songName{
        width:90%;
    }
    .progress{
        width:96%;
    }
	.tit_pic {
	    width: 100%;
	    margin-bottom: 24px;
	    position: relative;
	    max-height: 445px;
	    overflow: hidden;
	}
	.tit_pic img{
		display: block;
		width: 100%;
		max-width: 100%;
	}
	.tit_pic .title_mask{
		position: absolute;
	    height: 45%;
	    width: 100%;
	    bottom: 0;
	    left: 0;
	}
	.tit_pic .orginTit{
		position: absolute;
		color: #fff;
		bottom: 0;
		font-size: 24px;
		padding: 15px;
	}
	.con_new{
		/*padding: 0 15px;*/
		padding: 0;
		margin-top: 0;
	}
	.article_xinxi{
		margin-bottom: 10px;
	}
   .footer{
     display: none;
   }
   /*.article .orginTit{
      font-size:16px;
   }*/
   .shareContent video{
     background:#000;
   }
   .shareContent{
   	padding: 0 15px;
   }
  .shareContent p{
    text-indent: 0px;
    text-align: left;
    font-size: 12px;
    line-height: 20px !important;
    margin: 10px 0 0 0;
  }
  .shareContent p span{
    font-size: 12px;
    line-height: 20px !important;
  }
   .article .shareContent{
     font-size:12px !important;
   }
  /*.article .shareContent video{
     width:70% !important;
     height: auto;
  }*/
}
