<section>
  <router-link to="/manage/studio/0">
    <Button type="primary" shape="circle" class="btn-create">
      <img src="../../../assets/operator/create.svg" class="icon-create"></img>
      新建
    </Button>
  </router-link>
	<div class="studio-nodata center" :class="{hide:nodata}" style="margin-top: 50px;">
    <img src="../../../assets/error/no-data.svg" alt="" />
    <p>暂无融合号</p>
	</div>
<div v-if="total > 0">
  <table class="table" style="margin-top:20px;">
    <thead>
      <tr>
        <th>LOGO</th>
        <th>融合号名称</th>
        <th>URL</th>
        <th>时间</th>
        <th>绑定栏目</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="(item,index) in data" class="tr-hover tr-studio">
        <th scope="row">
          <div class="sutdio-logo">
            <a target="_blank" :href="item.url">
            <!-- <a target="_blank" :href="'https://studio.hubpd.com/' + (catalogs[item.catalogid]?catalogs[item.catalogid]['cname']:'')"> -->
              <img v-if="item.logofile" height="60" :src="item.logofile" alt="">
            </a>
          </div>
        </th>
        <td><a style="color:#495060" target="_blank" :href="item.url">{{item.studioname}}</a></td>
        <td>{{item.url}}</td>
        <td>{{item.addtime}}</td>
        <td>{{item.catalogname == '' ? '未绑定' : item.catalogname}}</td>
         <!-- <td>{{catalogs[item.catalogid]?catalogs[item.catalogid]['name']:'未绑定'}}</td>  -->
        <td style="font-size:15px;">
          <router-link :to="'/manage/studio/'+item.id">
            <!-- <Icon type="edit"></Icon> -->
            <img src="../../../assets/operator/edit.svg" class="icon-size">
          </router-link>
          <Tooltip content="删除" placement="top" style="margin-left:5px;">
            <a href="javascript:void(0)" @click="onRemove(index)">
              <!-- <Icon type="ios-trash-outline"></Icon> -->
              <img src="../../../assets/operator/del.svg" class="icon-size">
            </a>
          </Tooltip>
        </td>
      </tr>
    </tbody>
  </table>
  <div>
    <div style="float:right;line-height:24px;">共{{pageCount}}页</div>
    <Page size="small" :total="total" show-total @on-change="onChangePage" style="float:right"></Page>
  </div>  
</div> 	
  <Spin size="large" fix v-if="isLoading">
    <Icon type="load-c" size=18 class="spin-icon-load"></Icon>
    <div>Loading</div>
  </Spin>
</section>