<section>
  <router-link to="/manage/studio/0">
    <Button type="primary" size="large" shape="circle" icon="ios-plus-outline">新建</Button>
  </router-link>

  <table class="table" style="margin-top:20px;">
    <thead>
      <tr>
        <th>LOGO</th>
        <th>工作室名称</th>
        <th>URL</th>
        <th>时间</th>
        <th>绑定栏目</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="(item,index) in data">
        <th scope="row">
          <img v-if="item.logofile" height="60" :src="$conf.host + item.logofile" alt="">
        </th>
        <td>{{item.studioname}}</td>
        <td>{{item.url}}</td>
        <td>{{item.addtime}}</td>
        <td>{{catalogs[item.catalogid]?catalogs[item.catalogid]['name']:'未绑定'}}</td>
        <td style="font-size:15px;">
          <router-link :to="'/manage/studio/'+item.id">
            <Icon type="edit"></Icon>
          </router-link>
          <Tooltip content="删除" placement="top" style="margin-left:15px;">
            <a href="javascript:void(0)" @click="onRemove(index)">
              <Icon type="ios-trash-outline"></Icon>
            </a>
          </Tooltip>
        </td>
      </tr>
    </tbody>
  </table>

  <Page size="small" :total="total" show-total @on-change="onChangePage" style="float:right"></Page>

  <Spin  size="large" fix v-if="isLoading">
    <Icon type="load-c" size=18 class="spin-icon-load"></Icon>
    <div>Loading</div>
  </Spin>
</section>