.first-screen {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: url(../../assets/login/bg1.png) no-repeat;
  background-size: cover;
  background-position: centerï¼›
}

.sys-logo {
  position: absolute;
  width: 460px;
  height: 128px;
  left: 50px;
  top: 30px;
}
.sys-txt {
   position: absolute;
  width: 460px;
  height: 128px;
  left: 0;
  right: 0;
  font-size: 40px;
  color: #fff;
  margin: 0 auto;
  top: 30%;
  text-align: center;
}
/* .sys-txt {
  position: absolute;
  width: 460px;
  height: 128px;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 22%;
} */
.sys-logo-txt{
    position: absolute;
    font-family: "Microsoft Yahei";
    top: 0;
    font-size: 16PX;
    right: 18%;
    color: #F95759;
}
.sys-txt img {
  display: block;
  margin: 0 auto 28px auto;
}

.first-screen .bg {
  background: #000;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}

.first-screen .mouse {
  position: absolute;
  bottom: 55px;
  left: 50%;
  -webkit-animation: slide-down 2s infinite ease-out;
  animation: slide-down 2s infinite ease-out;
}

.login-box {
    width: 330px;
    background: #FFF;
    border-radius: 10px;
    position: absolute;
    right: 40px;
    top: 50%;
    margin-top: -170px;
}

.login-box h2 {
  font-family: STHeitiSC-Medium;
  font-size: 26px;
  color: #F95759;
  text-align: center;
  line-height: 2;
  letter-spacing: 5px;
}

.login-form {
  padding: 20px;
}

.login-form .ivu-form-item {
  border-bottom: 1px solid #ccc;
  margin-bottom: 25px;
}

.login-form .ivu-input-group-prepend {
  background-color: transparent;
  border: 0
}

.login-form .ivu-input {
  border: 0;
  font-size: 16px;
}

.login-form .ivu-form-item-content {
  margin-bottom: 5px
}

.login-form .ivu-form-item-error .ivu-input-group-prepend {
  border: 0px;
}

.login-form .ivu-form-item-error .ivu-input {
  border: 0px;
}

.login-form .ivu-form-item .ivu-input:focus {
  box-shadow: none
}
.login-form .ivu-form-item-error-tip{
  padding-top: 10px;
}

.login-form .form-extra {
  font-size: 14px;
  padding: 0 8px;
  color: #F95759
}

.login-form .ivu-radio-wrapper {
  font-size: 14px;
  color: #aaa
}

.login-form .ivu-btn-ghost {
  font-size: 20px;
  color: #F95759 !important;
  border: 1px solid #F95759 !important;
  line-height: 37px !important;
  padding: 0 35px !important;
}

.login-form .ivu-btn-ghost:hover {
  background: #F95759 !important;
  color: #FFF !important
}

.remain {
  position: relative;
  margin-top: 100vh;
  background: #FFF;
  z-index: 9
}

.remain .remain-img {
  display: block;
  width: 100%
}

.login-container {
  max-width: 80%;
  margin: 0 auto;
  padding: 40px 0
}

.title-head {
  font-size: 30px;
  position: relative;
  color: #666;
  margin-bottom: 20px;
}

.title-head::before {
  position: absolute;
  left: -30px;
  top: 50%;
  margin-top: -6px;
  height: 15px;
  width: 12px;
  background: #4BB2EF;
  content: ''
}

.friendLink a {
  font-size: 20px;
  color: #555;
  display: block;
  margin-bottom: 20px;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

@keyframes slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0)
  }
  50% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
  }
  80% {
    opacity: 1
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 8px, 0);
    transform: translate3d(0, 8px, 0)
  }
}
