<section>
  <div class="set-con" @wheel.prevent="scrollBar($event)" ref="setCon" :style="{height: setConHeight}">
    <div class="set-posi" ref="onscroll" @mousedown.prevent="mouseScroll($event)">
      <div v-if="previewCon.title"  class="yulan">
      	<h1  class="yulan-tit">{{ previewCon.title }}</h1>
      	<div class="yulan-xinxi">
      		<span>{{ previewCon.channel }}</span>
      		<span>{{ previewCon.time.substring(0,10) }}</span>
      		<span>{{ author }}</span>
      	</div>
      	<div v-html="previewCon.content"></div>
      </div>
      <div v-else-if="selVideoid">
         <Radio-group v-model="currentvideoid">
            <Row id="resource-manage">  
                <Col span="8" v-for="(value,key) in previewCon" :key="key">
                    <div class="video-item" >
                        <img :src="value.cover"/>
                        <span style="float:left;">{{value.title}}</span><Radio :label="value.videoid"  style="float:right;margin-right:0;"><span></span></Radio>
                    </div>
                </Col>                          
            </Row>
         </Radio-group>
      </div>
      <div v-else>
        <Row :gutter="34">
        <Col span="8" v-for="(value,key) in previewCon" :index="key" :key="key">
        <div class="content-pic" :index="key" @click="selectCover(key)">
          <div style="width: 100%;height: 120px;text-align:center;vertical-align:middle;">
            <img height="118" :src="value.src" :index="key" :class="[i == key?'active-border':'']"/>
          </div>
        <div class="center" :index="key" style="font-size:2em"><Icon :class="[i == key ? 'active-color':'']" type="ios-checkmark-outline" ref=""></Icon></div>
        </div>
        </Col>
        </Row>
      </div>
    </div>
    <div class="scrollBar" ref="scroll" :style="{height: scrollHeight}">
      <div class="scrollBar_con" ref="scrollCon" @mousedown.prevent="barScroll($event)"></div>
    </div>
    <!--<ScrollBar scrollarr="tabView"></ScrollBar>-->
  </div>
</section>
