<section>
  <Row>
    <Col span="12">
      <span style="padding-right: 15px;font-size:14px;">工作室选择</span>
      <Select v-model="studio" style="width:220px" @on-change="handleChangeStudio">
          <Option :value="0">全部</Option>
          <Option v-for="item in studios" :value="item.username" :key="item.username">{{ item.studioname }}</Option>
      </Select>
    </Col>
    <Col span="12">
      <Input icon="ios-search" placeholder="输入搜索关键字，按enter键查询" style="width:250px;float:right" @on-enter="handleSearch" @on-click="handleSearch" v-model="searchValue"></Input>
    </Col>
  </Row>
  <Row style="padding-top: 30px;">
    <Col span="12">
      <div v-if="status=='PendingAudit'">
        <Button type="primary"  shape="circle" icon="paper-airplane" @click="onHandle('Publish', 0)">通过</Button>
        <Button type="ghost"  shape="circle" icon="close" class="btn-ghost-red" @click="onHandle('NotPass', 0)">不通过</Button>
      </div>
      <div v-else-if="status=='Publish'">
        <Button type="ghost" size="large" shape="circle" icon="ios-undo-outline" class="btn-ghost-red" @click="onHandle('Offline', 0)">撤回</Button>
      </div>
      <div v-else-if="status=='NotPass'||status=='Offline'">
        <Button type="primary" size="large" shape="circle" icon="ios-trash-outline" @click="onHandle('Remove', 0)">删除</Button>
      </div>
    </Col>
    <Col span="12">
    <Radio-group v-model="status" style="float:right;padding-top:8px" @on-change="handleChangeStatus">
      <Radio v-for="(statusItem,statusValue) in statusMaps" key="statusValue" :label="statusValue" style="margin-right: 30px;">{{statusItem}}</Radio>
    </Radio-group>
    </Col>
  </Row>
  <div v-if="!isLoading && data.length>0">
    <table class="table" style="margin-top:20px;">
      <thead>
        <tr>
          <th style="width: 85px;text-align:left">
              <Checkbox
              :indeterminate="checkAllIndeterminate"
              :value="checkAll"
              @click.prevent.native="handleCheckAll">全选</Checkbox>
          </th>
          <th style="width:100px">标题</th>
          <th style="width:300px"></th>
          <th style="width:120px">作者</th>
          <th style="width:170px">时间</th>
          <th>状态</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(item,index) in data">
          <td style="text-align:left">
              <Checkbox :value="checkIds.indexOf(item.id)>=0" @on-change="handleCheck(item.id)"></Checkbox>
          </td>
          <td>
            <a :href="'/article?id='+item.id" target="_blank"><img :src="item.cover" alt="" width="100"></a>
          </td>
          <td style="text-align:left">
            <a :href="'/article?id='+item.id" target="_blank" style="color:#333333">{{item.title}}
              <br/><br/>
              <span style="color: #999999">工作室：{{item.studioname}}</span>
            </a>
          </td>
          <td>{{item.author}}</td>
          <td>{{item.addtime}}</td>
          <td>
            <span v-if="item.status=='PendingAudit'" style="color:#289FDB"><label class="wait-check"> 待审核</label></span>
            <span v-else-if="item.status=='Publish'" style="color:#5EB550"><label class="published"> 已发表</label></span>
            <span v-else-if="item.status=='NotPass'" style="color:#F34A52"><label class="no-pass">未通过</label></span>
            <span v-else-if="item.status=='Offline'" style="color:#FFA620"><label class="publish-back"> 已撤回</label></span>
          </td>
          <td style="font-size:18px;">
            <div v-if="item.status=='PendingAudit'">
                <Tooltip content="通过" placement="top">
                  <a href="javascript:void(0)" @click="onHandle('Publish', item.id)">  
                    <span class="icon-publish"></span>
                  </a>
                </Tooltip>
                <Tooltip content="不通过" placement="top">
                  <a href="javascript:void(0)" @click="onHandle('NotPass', item.id)">                   
                    <span class="icon-no-pass"></span>
                  </a>
                </Tooltip>
            </div>
            <div v-else-if="item.status=='Publish'">
                <Tooltip content="撤回" placement="top">
                  <a href="javascript:void(0)" @click="onHandle('Offline', item.id)">
                    <Icon type="ios-undo-outline"></Icon>
                  </a>
                </Tooltip>
            </div>
            <div v-else-if="item.status=='NotPass'||item.status=='Offline'">
                <Tooltip content="删除" placement="top">
                  <a href="javascript:void(0)" @click="onHandle('Remove', item.id)">
                      <Icon type="ios-trash-outline"></Icon>
                  </a>
                </Tooltip>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div>
      <div style="float:right;line-height:24px;">共{{pageCount}}页</div>
      <Page size="small" :page-size="pageSize" :current="pageIndex" :total="total"  @on-change="handleChangePage" style="float:right"></Page>
    </div>
    
  </div>
  <div v-if="!isLoading && data.length<=0" style="text-align:center;margin-top:20px;color:#aaa">
    <div v-if="searchValue == ''">
        <img src="../../../assets/error/no-data.svg" style="margin-top:80px;width: 30%;"/><br/><br/>
        <p style="font-size: 16px;text-align: center;margin-top: 20px;">暂无数据</p>
    </div>
    <div v-else>
        <img src="../../../assets/error/not-found.svg" style="margin-top:80px;width: 30%;"/><br/><br/>
        <p style="font-size: 16px;text-align: center;margin-top: 20px;">暂无查询结果</p>
    </div>
    
  </div>
  <Spin size="large" fix v-if="isLoading">
    <Icon type="load-c" size=18 class="spin-icon-load"></Icon>
    <div>Loading</div>
  </Spin>
</section>