@import '~iview/src/styles/index.less';

@primary-color: #F95759;
@link-color: #F95759;
@subsidiary-color: #F95759;
.ivu-modal-content .ivu-modal-body{
  height: auto;
  padding: 16px
}
.ivu-upload-list{
  display: none
}