<section>
  <Row :gutter="34">
    <Col span="8">
    <div class="home-title publish">
    	<router-link to="./publish">
    		<img src="../../assets/home-t-1.png">
      	<span class="title-t-0">发表</span>
    	</router-link>
    </div>
    </Col>
    <Col span="8">
    <div class="home-title articles">
      <img src="../../assets/home-t-2.png">
      <span class="title-t-1">发文总数</span>
      <span class="title-t-2" v-text="articleTot"></span>
    </div>
    </Col>
    <Col span="8">
    <div class="home-title studios">
      <img src="../../assets/home-t-3.png">
      <div v-if="roleFlag==0">
        <span class="title-t-1">工作室总数</span>
        <span class="title-t-2" v-text="studioTotal"></span>
      </div>
      <div v-else>
        <span class="title-t-1">中央厨房号指数</span>
        <span class="title-t-2" v-text="accountIndex"></span>
      </div>
    </div>
    </Col>
  </Row>
  <Row v-if="adList.length>0">
    <Col span="24">
    <div class="home-ad">
      <!--<Carousel autoplay v-model="value2">
        <Carousel-item v-for="ad in adList" key="ad.id">
          <div class="demo-carousel">
          	<a :href="ad.url" target="_blank">
          		<img :src="ad.path">
          	</a>
          </div>
        </Carousel-item>
      </Carousel>-->
      <swiper :options="swiperOption" ref="mySwiper"> 
        <!-- 这部分放你要渲染的那些内容 -->  
        <swiper-slide v-for="ad in adList"  key="ad.id"> 
        	<a :href="ad.url" target="_blank">
      			<img :src="ad.path">
      		</a>
        </swiper-slide>
        <!-- 这是轮播的小圆点 -->  
        <div class="swiper-pagination" slot="pagination"></div>  
        
    	</swiper>  
    	<!-- 如果需要导航按钮 -->
    		<div class="swiper-button-prev swiper-button-white"></div>
    		<div class="swiper-button-next swiper-button-white"></div>
    </div>
    </Col>
  </Row>
  <Row>
    <Col span="24">
    <div class="home-tab">
      <span v-bind:class="{ active: switchTab == 0 }" v-on:click="switchTab = 0">公告</span>
      <span v-bind:class="{ active: switchTab == 1 }" v-on:click="switchTab = 1">融媒体学院</span>
    </div>
    <div class="home-tab-n" v-if="switchTab==0">
    	<div  v-show="noticeList.length > 0">
	      <ul class="home-notices" ref="uls">
	        <li v-for="(notice,index) in noticeList" key="notice.id" :class="{readed:notice.isReaded}" @click="readed($event,notice.id,index)">
	          <router-link :to="{path:'./notice',query:{id:notice.id}}" target="_blank">
		          <i></i>
		          <span class="home-notice-content" :title="notice.title">
							  {{notice.title}}
						  </span>
		          <span class="home-notice-date">
							  {{notice.addtime}}
						  </span>
				</router-link>
	        </li>
	      </ul>
	      <div class="home-pager">
	        <Page :total="noticeTotal" size="small" :current="pageIndexX" @on-change="changePageNotice" :page-size="pageSize"></Page>
	        <span>共{{pageTotalX}}页 </span>
	      </div>
	    </div>
	    <div class="home-nodata center"  :class="{hide:nodataNotice}">
    		<img src="../../assets/error/no-data.svg" alt="" />
    		<p>精彩内容正在筹备，敬请期待</p>
    	</div>
    </div>
    <div class="home-tab-d" v-if="switchTab==1">
    	<div  v-show="collegeList.length > 0">
	      <ul class="home-notices">
	        <li v-for="(college,index) in collegeList" key="college.id" :class="{readed: college.isReaded}" @click="readed($event,college.id,index)">
	          <router-link :to="{path:'./article',query:{id:college.id}}" target="_blank">
		          <i></i>
		          <span class="home-notice-content"  :title="college.title">
								{{college.title}}
							</span>
		          <span class="home-notice-date">
								{{college.addtime}}
							</span>
						</router-link>
	        </li>
	      </ul>
	      <div class="home-pager">
	        <Page :total="articleTotal" size="small" @on-change="changePageCollege" :page-size="pageSize"></Page>
	        <span>共{{pageTotalG}}页</span>
	      </div>
	    </div>
	    <div class="home-nodata center"  :class="{hide:nodataCollege}">
    		<img src="../../assets/error/no-data.svg" alt="" />
    		<p>精彩内容正在筹备，敬请期待</p>
    	</div>
    </div>
    </Col>
  </Row>
</section>
