.notice{
  margin-top: 25px;
}
.notice-header{
  font-size: 16px;
  color: #999999
}
.notice .ivu-btn-ghost {
    color: #fa797a;
    background-color: transparent;
    border-color: #fa797a;
}
.notice ul{
  margin: 25px 0;
  border-top: 1px solid #CCCCCC
}
.notice-item{
  padding: 15px;
  border-bottom: 1px solid #CCCCCC
}
.notice-item .ivu-icon{
  color: #3CC6D4;
  font-size: 16px;
}
.notice-item a{
  color: #333;
  margin-left: 15px;
}
.notice-item .date{
  float: right
}
.notice-item.read .ivu-icon {
    color: #ccc;
}
.notice-item.read a{
    color: #999;
}
.card{
  position: relative
}
.card .big-title{
  position: absolute;
  top:0;
  bottom: 0;
  left:0;right:0;
  font-size: 30px;
  color: #FFF;
  text-align: center;
  cursor: pointer
}
.card .big-title span{
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%)
}
.card .title{
  position: absolute;
  top:5px;
  left:5px;
  font-size: 18px;
  color: rgba(255,255,255,0.7)
}
.card .num{
  position: absolute;
  top:0;
  bottom: 0;
  left:0;
  right:30%;
  font-size: 28px;
  color: #FFF;
  text-align: center
}
.card .num span{
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-40%)
}
*{
    margin: 0;
    padding: 0;
}
.home-title{
    width: 100%;
    color: #fff;
    position: relative;
}
.home-title img,.home-ad img{
    width: 100%;
}
.home-ad img{
	/*height: 170px;*/
}
.home-title span{
    position: absolute;
}
.home-ad {
    margin:3% 0;
}
.home-pager{
    margin-top: 5%;
    float: right;
}
.home-tab{
    color:  #999999;
    border-bottom: 1px solid #CCCCCC;
    padding: 10px 0 15px;
}
.home-notices:after{
    content:"";
    display:block;
    clear:both;
}
.home-notices li{
    float: left;
    width: 100%;
    color: #333333;
    border-bottom: 1px solid #CCCCCC;
    font-size: 14px!important;
}
.home-notices li>a{
	display: block;
	height: 60px;
	padding: 20px 0;
}
.home-notices li i{
    width: 20px;
    background-image: url(../../assets/gg.svg);
    background-repeat: no-repeat;
    background-position: center center;
    height: 18px;
    margin-top: 2px;
    float: left;
    margin-right: 3px;
}
.home-notices li.readed i{
    background-image: url(../../assets/gg-1.svg);
    background-size: 100% 100%;
}

.home-notices li.readed .home-notice-content{
    color: #999999;
}
.home-notices li .home-notice-content{
    width: 79%;
    float: left;
    color: #333;
}
.home-notices li .home-notice-date{
    width: 16%;
    float: left;
    color: #999999;
}
.home-notices li:hover{
    color: #F95759;
    cursor: pointer;
}
.title-t-0{
    width: 100px;
    height: 50px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;
    font-size: 36px;
    text-align: center;
    letter-spacing: 5px;
}
.title-t-1{
    width: 70%;
    height: 50px;
    font-size: 22px;
    top: 5%;
    left: 5%;
    opacity: .7;
}
.title-t-2{
    width: 70%;
    height: 50px;
    top: 0;
    bottom: 0;
    left: 0;
    margin:auto;
    font-size: 42px;
    text-align: center;
}
.home-tab span{
    display: inline-block;
    padding: 0 15px;
    margin: 0 20px 10px 0;
    border-radius: 50px;
    height: 25px;
    line-height: 25px;
    font-size: 16px;
    cursor: pointer;
}
.home-tab span.active{
    border: 1px solid #F95759;
    color: #F95759;

}
.ivu-page-item-jump-next, .ivu-page-item-jump-prev, .ivu-page-next, .ivu-page-prev,.ivu-page-item{
    border: none!important;
}
.ivu-page-item-active a, .ivu-page-item-active:hover a{
    color: #F95759!important;
}
.ivu-page-item-active{
    color: #F95759;
    border-color: #fff!important;
    background-color: #fff!important;
}
.ivu-page-total{
    float: right!important;
}
.home-pager{
    color: #999999!important;
}
.home-pager ul{
    float: left;
}
.home-pager span{
    float: right;
    line-height: 24px;
}
.ivu-carousel-list{
    min-height: 100px;
}
.publish a{
	color: #fff;
}
.publish a:hover{
	color: #fff;
}

.home-ad .swiper-button-prev,.home-ad .swiper-button-next{
	  background-size: 100% 100%;
	  width: 25px;
	  height: 25px;
	  margin-top: -12.5px;
	  display: none;
}
.home-ad:hover .swiper-button-prev,.home-ad:hover .swiper-button-next{
	display: block;
}
.home-pager{
    font-size: 14px!important;
}
.home-ad .swiper-pagination-bullet-active{
	background: #fff;
}
.home-nodata.hide{
	display: none;
}
/*.home-nodata.hide{
	display: block;
}*/
.home-nodata{
	margin-top: 30px;
}
.home-nodata img{
	width: 30%;
}
.home-nodata p{
	font-size: 18px;
	margin-top: 30px;
}
