<section>
  <div class="material" >
    <Row class="material_shangchuan" :gutter="16" :class="{hide:!vievShow}">
      <Col span="12" ref="material_xx_con" class="material_xx_cons">
        <Button id="pick" shape="circle" class="upload_btn"><img src="../../../../assets/material/upload_icon.svg" alt="" width="15" height="15" ><span>上传视频</span></Button>
        <span>建议上传720p（1280x720）或更高分辨率的视频，大小不超过2G</span>
      </Col>
      <Col span="12">
        <p>视频格式：建议上传MP4 和 HLS 文件。 支持格式： MOV，MP4 ，MP4V，M4V，MKV，AVI，FLV，F4V，3GP、 RM, RMVB，RA，RAM ,MPG，MPEG，MPE，VOB，DAT，WMV，WM， ASF，ASX</p>
      </Col>
    </Row>
    <Row  class="material_xx" :class="{hide:vievShow}">
      <div class="material_xx_con" ref="material_xx_cons">
        <h2>{{ material.name }}</h2>
        <div>
          <Progress :percent=parseInt(material.percent) :stroke-width="20" status="wrong" hide-info></Progress>
          <span>{{ material.percent }}%</span>
        </div>
         <Button :class="{hide:this.material.code != 5 }" type="ghost" shape="circle" style="color: #fa797a;background-color: transparent;border-color: #fa797a;position: relative;z-index: 1;" @click="cancaleUpload">取消上传</Button>
        <Button @click="reUpload" id="picks" :class="{hide: this.material.code != 6 && this.uploadError == false }" type="ghost" shape="circle" style="color: #fa797a;background-color: transparent;border-color: #fa797a;">重新上传</Button>
      </div>
      <div class="material_xx_info" v-if="this.material.code == 5">
        <span>已上传：{{ materialSize }}/{{ material.size_text }}</span>
        <span style="text-align:center;">上传进度：{{ material.speed }}</span>
        <span style="text-align:right;">剩下时间：{{ materialTime }}</span>
      </div>
      <div v-else-if="this.material.code == 6"  class="material_xx_info">
        上传成功
      </div>
      <div v-else-if="this.material.code > 6 || this.material.code < 0"  class="material_xx_info">
      	上传失败/视频无效
      </div>
    </Row>
    <Row class="material_info" :gutter="20">
      <Col span="16">
        <Form label-position="left" :label-width="150" :model="formValidate"  :rules="ruleValidate">
          <Form-item label="标题" prop="title">
            <Input placeholder="请输入标题" v-model="formValidate.title" @on-change="getTitleContent" :maxlength="titleMaxCount"></Input>
            <span><span>{{titleContentCount}}</span>/22</span>
          </Form-item>
          <Form-item label="摘要" prop="zhaiyao">
            <Input placeholder="" v-model="zhaiyao" type="textarea"  :autosize="{minRows: 5,maxRows: 5}" @on-change="getSummaryContent" :maxlength="zhaiyaoMaxCount"></Input>
            <span><span>{{ zhaiyaoContentCount }}</span>/50</span>
          </Form-item>
          <Form-item label="封面" style="width:120%;" prop="cover">
            <Input v-model="formValidate.cover" type="text" class="hide"></Input>
            <cropper-upload :width="300" :height="200" :cropUploadSuccess="onSuccess" :cropUploadFail="onError" :maxSize="2048" :minwidth="1" :minheight="1">
              <div class="material_cover">
                <!-- <img :src="../../../../assets/material/cover_icon.svg" alt=""> -->
                <img :src="formValidate.cover" alt="">
                <img src="../../../../assets/material/cover_icon.svg" alt="" v-if="hasImg" class="hasImg">
              </div>
            </cropper-upload>
            <div style="color:#ccc;width:calc(100% - 310px);display:inline-block;padding-left:9px;">建议封面尺寸300*200像素，图片比例为3比2</div>
          </Form-item>
          <Form-item label="分类" prop="select">
            <Select v-model="select">
                <Option v-for="(item,index) in enterSelects" :value="index" :key="index">{{ item }}</Option>
            </Select>
          </Form-item>
          <Form-item label="标签" prop="label">
            <div style="position: relative;">
              <label for="label" class="keyword-container" style="position:absolute;z-index:9;padding-left:7px;max-width:100%;overflow:hidden;height:32px;font-size:12px;" ref="keywordContainer">
                <span v-for="(item, index) in labelArr" style="margin-right:5px;">{{ item }}<span @click.stop="closeLabel(index)" :class="{hide:isHideLabelClose}"><Icon type="close" class="main-color"></Icon></span></span>
              </label>
              <input id="label" :maxlength="labelMaxCount" :placeholder="placelabel" class=""@keyup="checkLabelCount" @blur="labelBlur" @keydown.delete="deleteLabel" class="ivu-input" ref="keywordInput" v-model="labels"></input>
              <span style="color:#F95759" class="ivu-form-item-error-tip" :class="{hide:isHideLabel}">关键字不能重复</span>
            </div>
          </Form-item>
          <!-- <Form-item label="关键词（关键词最多5个，空格键添加）">
            <div style="position:relative">
              <label for="keywords" class="keyword-container" style="position:absolute;z-index:9;padding-left:7px;max-width:100%;overflow:hidden;height:32px;font-size:12px;" ref="keywordContainer">
                <span v-for="(item,index) in formTop.keywordArr" style="margin-right:5px;">{{item}}<span @click.stop="closeKeyword(index)" :class="{hide:isHideKeyClose}"><Icon type="close" class="main-color"></Icon></span></span>
              </label>
              <input id="keywords" :maxlength="keyMaxCount" :placeholder="placekeyword" class="ivu-input" v-model="keyword" @keyup="checkKeywordCount" @blur="keywordBlur" ref="keywordInput" @keydown.delete="deleteKeyword"></input>
            </div>
            <span style="color:#F95759" class="ivu-form-item-error-tip" :class="{hide:isHideKeyword}">关键字不能重复</span>
          </Form-item> -->
          <Form-item style="margin-top:80px;">
            <Button type="primary" shape="circle" style="margin-left: 10%;padding:6px 25px;" @click="onSave">保存</Button>
            <Button @click="cancleSave" type="ghost" shape="circle" style="margin-left:10%;color: #F95759;border-color:#F95759;padding:6px 25px;">取消</Button>
          </Form-item>
        </Form>
      </Col>
      <Col span="8" style="color: #F95759;line-height: 30px;" v-if="this.material.code < 0 || this.material.code >6">
      	<h4 style="font-size: 16px;font-weight: normal;margin-bottom: 20px;">视频上传格式说明 *</h4>
      	<p>建议上传720p（1280x720）或更高分辨率的 视频，大小不超过2G <br /> 视频格式：建议上传MP4 和 HLS 文件。<br /> 支持格式： MOV，MP4 ，MP4V，M4V， MKV，AVI，FLV，F4V，3GP RM, RMVB， RA，RAM ,MPG，MPEG，MPE，VOB，DAT， WMV，WM，ASF，ASX</p>
      </Col>
    </Row>
  </div>
</section>
