<div class="layout">
  <MainHeader :logOut="logOut" :userName="userName"></MainHeader>
  <div class="layout-container">
    <Row type="flex">
      <i-col span="5" :class="{hide:isActive}">
        <ComponentsMainMenu :data="menu" :onSelect="onSelect" :roleType="roleType"></ComponentsMainMenu>
      </i-col>
      <i-col span="19" class="layout-content-warp" :class="{'set-width':isActive}">
        <div class="layout-content">
          <div class="layout-content-main">
            <transition name="slide-fade"  mode="out-in">
              <router-view></router-view>
            </transition>
          </div>
        </div>
      </i-col>
    </Row>
  </div>
  <MainFooter></MainFooter>
</div>