  .layout {
    position: relative;
  }
  .layout-container {
    padding: 50px;
    min-height: 510px;
  }
  .layout-breadcrumb {
    padding: 10px 15px 0;
  }

  .layout-content {
    min-height: 200px;
    margin: 0 15px;
    background: #fff;
    border-radius: 4px;
  }

  .layout-content-main {
    padding: 0 20px;
  }

  .layout-ceiling {
    padding: 1px 50px;
    overflow: hidden;
    /*box-shadow: 1px 0 1px #999999;*/
    border-bottom:1px solid #ddd;
    width:100%;
  }
  .layout-ceiling .logo{
    float: left;
  }
  .layout-ceiling .logo img{
    height: 30px;
    margin-top: 8px;    
  }
  .layout-ceiling-main {
    float: right;
    line-height: 50px;
    vertical-align: middle
  }

  .layout-ceiling-main a {
    color: #757575;
    float: left;
  }
  .layout-ceiling-main a img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    box-shadow: 0 0 1px #999;
    float: left;
    margin-right: 20px;
  }
  .layout-ceiling-main a.nickname{
    font-size: 18px;
    margin-right: 10px;
    color:#333;
  }
.layout-footer{
  text-align: center;
  padding: 10px 0 0px;
}
.layout-footer-top{
  font-size: 16px;
  color: #999;
  padding: 10px 0 30px;
}
.layout-footer-top .item{
  display: inline-block;
  margin: 0 10px;
}
.layout-footer-top img {
  height: 20px;
  position: relative;
  bottom: -3px
}
.layout-footer-bottom {
  background: #F3F3F3;
  color: #9ea7b4;
  line-height: 50px;
  height: 50px;
}


.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .4s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active 在 <2.1.8 中 */ {
  transform: translateX(20px);
  opacity: 0;
}

/*mine*/
.hide{
  display:none !important;
}
.set-width{
  width:100% !important;
}

.ivu-menu-vertical.ivu-menu-light:after{
  background:transparent!important;
}
.ivu-menu-light.ivu-menu-vertical .ivu-menu-item-active:not(.ivu-menu-submenu){
  border-right:none!important;
}
.ivu-menu-item, .ivu-menu-submenu .ivu-menu-submenu-title{
  font-size: 16px!important;
}

.ivu-menu-submenu .ivu-menu-item{
  font-size: 14px!important;
}
.check-login{
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 999;
  background: #000;
  opacity: .6;
}
.check-login .tip-info{
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 50%;
  line-height: 50px;
  height: 50px;
  font-size: 20px;
  color: #fff;
  text-align: center;
}