
.notice{
	/*width: 1000px;*/
	margin: 0 auto;
	font-family: "微软雅黑";
}
.notice h1{
	text-align: center;
	color: #e51c23;
	border-bottom: 1px solid #d2d2d2;
	padding-bottom: 30px;
	font-weight: 500;
}
.notice p{
	text-indent: 35px;
	font-size: 16px;
	margin-top: 25px;
}
.notice img{
	margin: 20px auto;
	display: block;
	width: 500px;
}