.con_new p{    
    text-align: left;
    text-indent: 20px;
    font-size: 14px;
    line-height: 24px;
    margin: 14px 0;
}
.con_new{    
    text-align: center;
}
.con_new img[src^="/static/ueditor/dialogs/attachment/fileTypeImages"]{
	width:auto;
}
.con_new img{
    width: 70%;
}
.article{
    margin: 50px 0;
}
#notice_video .con_new embed{
	width: 32vw;
	height: 18vw;
}
#notice_video .con_new video{
	width: 32vw;
	height: 18vw;
}
.article_xinxi{
	text-align: center;
	margin: 10px 0 20px;
	color: #ccc;
}
.article_xinxi span{
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
}
