<section>
  <MainHeader></MainHeader>
  <Row :gutter="34">
    <Col span="6">
    <Icon type="arrow-left-a"></Icon>
    <a class="go-back" href="javascript:void(0)" @click="goBack">返回</a>
    </Col>
    </Col>
  </Row>
  <Row type="flex" justify="center">
    <Col span="12">
    <div class="article">
      <div>
        <div class="con_new hidden-xs">
          <h2 class="orginTit">
            {{title}}
          </h2>
          <div v-html="content"></div>
        </div>
      </div>
    </div>
    </Col>
  </Row>
  <MainFooter></MainFooter>
</section>
