<section>
  <MainHeader></MainHeader>
  <Row type="flex" justify="center">
    <Col span="12">
    <div class="article">
      <div>
        <div class="con_new hidden-xs">
          <h2 class="orginTit">
            点金|理财：银行私人财富管理优势不明显 谁是银行竞争对手
          </h2>
          <img src="https://www.hubpd.com/upload/resources/image/2017/07/11/61626_500x500.png">
          <p>
            目前，我国已有22家国内商业银行成立了私人银行专营部门。截止2006年末，银行业理财资金的市场占比为24.4%，其中招商银行私人银行管理资产规模位列第一，银行仍是我国财富管理市场的主要力量，上述数字来自中国银行业协会私人银行业务专业委员会年会日前发布的《中国私人银行行业发展报告》。
          </p>
          <img src="https://www.hubpd.com/upload/resources/image/2017/07/11/61621.jpg">
          <p>
            报告显示，2016年，我国财富管理市场总规模达119.03万亿元，财富管理市场机构除银行外还包括基金公 司、信托公司、保险公司、证券公司、私募基金公司、期货公司、第三方 理财机构。中国私人银行业服务机构百花齐放，银行依旧领跑，但优势已不明显。
          </p>
          <img src="https://www.hubpd.com/upload/resources/image/2017/07/11/61622.jpg">
          <p>
            私人银行业务源于16世纪的瑞士日内瓦，而中国的第一家私人银行于2007年由中国银行开设。
          </p>
          <p>
            私人银行服务，是指商业银行与特定客户在充分沟通协商的基础上，签订有关投资的资产财富管理合同。
          </p>
          <p>
            客户委托商业银行按照合同约定的投资计划､投资范围和投资方式，代理客户进行有关投资和资产管理操作的综合委托投资服务。
          </p>
        </div>

      </div>
    </div>
    </Col>
  </Row>
  <MainFooter></MainFooter>
</section>
