
  #sharePop .ivu-modal{
      width:auto !important;
  }
  .video-upload-label{
    font-size:14px;
    color:#495060;
    margin-bottom:10px;
  }
  .video-upload-label:before{
    content: '*';
    display: inline-block;
    margin-right: 4px;
    line-height: 1;
    font-family: SimSun;
    font-size: 12px;
    color: #ed3f14;
  }
  #videoTabPreview{
    width:640px;
    height:360px;
    border:1px solid #cccccc;
    margin-left:10%;
    margin-top:30px;
  }
  #videoTabPreview video{
    width:100% !important;
    height:100% !important;
    border:1px solid #cccccc;
  }
  .add-sub-title{
    font-size:14px;
  }
  .add-sub-title:hover{
    background: #F95759;
    color:#fff;
  }

  @media screen and (max-width: 1150px) {
    #videoTabPreview{
       width:100%;
       margin-left:0;
    }
     #videoTabPreview video{
      width:100% !important;
      border:1px solid #cccccc;
    }
   #videoTabPreview embed{
      width:100% !important;
  }
}

