
  #sharePop .ivu-modal{
      width:auto !important;
  }
  .video-upload-label{
    font-size:14px;
    color:#495060;
    margin-bottom:10px;
  }
  .video-upload-label:before{
    content: '*';
    display: inline-block;
    margin-right: 4px;
    line-height: 1;
    font-family: SimSun;
    font-size: 12px;
    color: #ed3f14;
  }
  #videoTabPreview{
    width:640px;
    height:auto;
    margin-left:10%;
    margin-top:10px;
  }
  #videoTabPreview p{
    position: relative;
  }
  #videoTabPreview p .download_video{
    position: absolute;
    bottom: -24px;
    right: calc((100% - 640px) / 2);
    text-decoration: none;
    padding-left: 20px;
    display: inline-block;
    color: #b2b2b2;
    background: url(http://mp.dev.hubpd.com/static/ueditor/audioimages/download.svg) left center no-repeat;
    background-size: 14px 14px;
  }
  #videoTabPreview video{
    width:100% !important;
    height:100% !important;
    border:1px solid #cccccc;
  }
  #videoTabPreview embed{
    width:100% !important;
  }
  .video-scale-tip{
    color:#F95759;
    display: block;
    margin-left:10%;
    margin-top:5px;
  }
  .add-sub-title{
    font-size:14px;
  }
  .add-sub-title:hover{
    background: #F95759;
    color:#fff;
  }


  @media screen and (max-width: 1150px) {
    #videoTabPreview{
       width:100%;
       margin-left:0;
    }
    .video-scale-tip{
      margin-left:0;
    }
     #videoTabPreview video{
      width:100% !important;
      border:1px solid #cccccc;
    }
   #videoTabPreview embed{
      width:100% !important;
  }
}

