<div class="layout-footer">
  <div class="layout-footer-top">
    <span class="item">
      <img src="../../assets/svg/电话.svg" alt=""> 010-65367313
    </span>
     <span class="item">
      <img src="../../assets/svg/fax.svg" alt=""> 010-65367301
    </span>
     <span class="item">
      <img src="../../assets/svg/邮箱.svg" alt=""> mp@hubpd.com
    </span>
     <span class="item">
      <img src="../../assets/svg/地址.svg" alt=""> 北京市朝阳区金台西路2号
    </span>
  </div>
    <div class="layout-footer-bottom">
      © 2017 PDMI, Inc. All rights reserved. 京ICP备16032907号-2京公网安备
    </div>
  </div>