<div class="layout-ceiling">
  <div class="logo" @click="$router.push('/')">
  	<a  style="font-size: 20px;padding-top: 10px;display: inline-block;">     
       <img src="../../assets/login/logo-1.png" alt="logo" width="20%" style="height:inherit;margin-top:2px;vertical-align: top;"> 
       <img src="../../assets/login/logo-2.png" alt="logo" width="20%" style="height:inherit;margin-top:0;"> 
  	</a>
  </div>
  <div class="layout-ceiling-main">    
    <a href="javascript:;" v-if="studioLogo == ''" class="nickname" v-text="userName" 
    @click="goAccount"></a>
    <img v-else :src="studioLogo" class="studio-logo"
    @click="goAccount" :title="studioName">
    <a href="javascript:;" @click="logOut" class="logout">退出</a>
  </div>
</div>
