<section>
  <div v-show="true" class="media-account">
    <Form ref="formValidate" :model="formValidate" label-position="left" :rules="ruleValidate" :label-width="100">
        <Form-item label="LOGO" prop="logo">            
            <Upload action="//jsonplaceholder.typicode.com/posts/" class="img-pre">
                <span style="display: inline-block;">
                  <img src="../../../assets/1s.png" >
                </span>
                <Button type="ghost" class="img-edit">
                  <img src="../../../assets/img-edit.svg">
                </Button>
                <label class="file-tips">建议logo长宽比为3:2</label>
            </Upload>
            
        </Form-item>   
        <div class="account">
          <label>工作室名称</label>
          <label>{{studioName}}</label>
        </div>
        <div class="account">
          <label>URL</label>
          <label>{{URL}}</label>
        </div>
        <div class="account">
          <label>绑定栏目</label>
          <label>{{account}}</label>
        </div>
        <Form-item label="姓名" prop="name">
            <Input v-model="formValidate.name" placeholder="请输入姓名"></Input>
        </Form-item>                        
        <Form-item label="电话" prop="tel">
            <Input v-model="formValidate.tel"   placeholder="请输入电话"></Input>
        </Form-item>
        <div class="account-btn">
            <Form-item>
                <Button type="primary" @click="handleSubmit('formValidate')" class="save">提交</Button>
                <Button type="ghost" @click="handleReset('formValidate')" class="cancel" style="margin-left: 8px">取消</Button>
            </Form-item>
        </div>
            
    </Form>
  </div>
  <div v-show="false" class="operation-account">
    <Form ref="formValidate" :model="formValidate" label-position="left" :rules="ruleValidate" :label-width="100">
        <div class="account">
          <label>账户名</label>
          <label>{{account}}</label>
        </div>
        <Form-item label="姓名" prop="name">
            <Input v-model="formValidate.name" placeholder="请输入姓名"></Input>
        </Form-item>                        
        <Form-item label="电话" prop="tel">
            <Input v-model="formValidate.tel"   placeholder="请输入电话"></Input>
        </Form-item>
        <Form-item label="邮箱" prop="mail">
            <Input v-model="formValidate.mail" placeholder="请输入邮箱"></Input>
        </Form-item> 
        <div class="account-btn">
            <Form-item>
                <Button type="primary" @click="handleSubmit('formValidate')" class="save">提交</Button>
                <Button type="ghost" @click="handleReset('formValidate')" class="cancel" style="margin-left: 8px">取消</Button>
            </Form-item>
        </div>
            
    </Form>
  </div>
</section>
