<section>
  <Row style="margin-left:50px;width:600px">
    <Col span="18">
    <div v-show="roleType == 1" class="media-account">
      <div class="account upload-logo">
        <label>LOGO</label>
        <div class="demo-upload-list" v-for="item in uploadList">
          <div v-if="item.status === 'finished'">
            <img :src="item.url">
            <div class="demo-upload-list-cover">
              <Icon type="ios-eye-outline" @click.native="handleView(item.name)"></Icon>
              <Icon type="ios-trash-outline" @click.native="handleRemove(item)"></Icon>
            </div>
          </div>
          <div v-else>
            <Progress v-if="item.showProgress" :percent="item.percentage" hide-info></Progress>
          </div>
        </div>
        <Upload ref="upload" :headers="uploadHeaders" :show-upload-list="false" :on-success="handleSuccess" :format="['jpg','jpeg','png']"
          :max-size="2048" :on-format-error="handleFormatError" :on-exceeded-size="handleMaxSize" :before-upload="handleBeforeUpload"
          action="http://mp.dev.hubpd.com/api/image/upload" style="display: inline-block;width:58px;">
          <div style="width: 58px;height:58px;line-height: 58px;">
            <img src="../../../assets/img-edit.svg">
          </div>
        </Upload>
        <span class="file-tips">建议logo长宽比为3:2</span>
        <Modal title="查看图片" v-model="visible">
          <img :src="uploadImg" v-if="visible" style="width: 100%">
        </Modal>
      </div>
      <Form ref="formValidateM" :model="formValidateM" label-position="left" :rules="ruleValidateM" :label-width="100">
        <!-- <Form-item label="LOGO" prop="logofile">
        <img v-if="formValidateM.logofile" style="max-width:100px;border:1px solid #eee" :src="formValidateM.logofile"
        />
        <cropper-upload :width="300" :height="200" :cropUploadSuccess="cropUploadSuccess" :cropUploadFail="cropUploadSuccess">
          <a v-if="formValidateM.logofile" href="javascript:void(0)">
            <Icon type="edit"></Icon>
          </a>
          <Button v-else type="primary" shape="circle" icon="ios-download-outline">上传</Button>
        </cropper-upload>
        建议logo长宽比为3:2
      </Form-item> -->

        <div class="account">
          <label>工作室名称</label>
          <label>{{studioName}}</label>
        </div>
        <div class="account">
          <label>URL</label>
          <label>{{URL}}</label>
        </div>
        <div class="account">
          <label>绑定栏目</label>
          <label>{{catalog}}</label>
        </div>
        <Form-item label="姓名" prop="name">
          <Input v-model="formValidateM.name" @on-change="allowSubmit" placeholder="请输入姓名"></Input>
        </Form-item>
        <Form-item label="电话" prop="tel">
          <Input v-model="formValidateM.tel" @on-change="allowSubmit" placeholder="请输入电话"></Input>
        </Form-item>
        <div class="account-btn">
          <Form-item>
            <Button type="primary" :disabled="disabledM" @click="handleSubmit('formValidateM')" :class="{'save':true,'disabled':disabledM,'margin-left-40':true}">保存</Button>
            <Button type="ghost" :disabled="disabledM" @click="handleReset('formValidateM')" :class="{'cancel':true,'disabled':disabledM,'margin-left-40':true}"
              style="margin-left: 8px">取消</Button>
          </Form-item>
        </div>

      </Form>
    </div>
    <div v-show="roleType == 0" class="operation-account">
      <Form ref="formValidate" :model="formValidate" label-position="left" :rules="ruleValidate" :label-width="100">
        <div class="account">
          <label>账户名</label>
          <label>{{account}}</label>
        </div>
        <Form-item label="姓名" prop="name">
          <Input v-model="formValidate.name" placeholder="请输入姓名" @on-change="allowSubmit"></Input>
        </Form-item>
        <Form-item label="电话" prop="tel">
          <Input v-model="formValidate.tel" placeholder="请输入电话" @on-change="allowSubmit"></Input>
        </Form-item>
        <Form-item label="邮箱" prop="mail">
          <Input v-model="formValidate.mail" placeholder="请输入邮箱" @on-change="allowSubmit"></Input>
        </Form-item>
        <div class="account-btn">
          <Form-item>
            <Button type="primary" :disabled="disabledM" @click="handleSubmit('formValidate')" :class="{'save':true,'disabled':disabledM,'margin-left-40':true}">保存</Button>
            <Button type="ghost" :disabled="disabledM" @click="handleReset('formValidate')" :class="{'cancel':true,'disabled':disabledM,'margin-left-40':true}"
              style="margin-left: 8px">取消</Button>
          </Form-item>
        </div>

      </Form>
    </div>
    </Col>
  </Row>
</section>
