.header{
    margin: 10px 0;
}
.right{
    padding-left:20px;
}
.header img,
.footer img,
.right img
{
    width: 100%;
}
.right img:first-child{
    margin-bottom: 20px;
}
.set_cursor_video{
  display: none;
}
.video_container{
  margin-bottom:10px;
}
/*.con_new p{
    text-align: left;
    text-indent: 20px;
    font-size: 14px;
    line-height: 24px;
    margin: 5px 0;
}*/
.con_new{
    text-align: center;
}
.con_new img{
    width: auto;
    max-width: 95%;
    height: auto;
}
.con_new img[src^="/static/ueditor/dialogs/attachment/fileTypeImages"]{
	width:auto;
}
.con_new embed{
	/*max-width: 100%;*/
  width:41.6vw;
  height:23.4vw;
}
.con_new video{
	/*max-width: 100%;*/
  width:41.6vw;
  height:23.4vw;
}
.orginTit{
	margin-bottom: 10px;
	font-size: 30px;
	text-align: left;
	font-weight: bold;
}
.article_xinxi{
	text-align: left;
    margin: 10px 0 20px;
    color: #ccc;
}
.article_xinxi span{
	display: inline-block;
    margin-left: 0px;
    margin-right: 10px;
}
.con_new p{
  position: relative;
  margin-bottom: 30px;

}
.con_new p .download_video{
  position: absolute;
  bottom: -24px;
  right: calc((100% - 640px) / 2);
  text-decoration: none;
  padding-left: 20px;
  display: inline-block;
  color: #b2b2b2;
  background: url(http://mp.dev.hubpd.com/static/ueditor/audioimages/download.svg) left center no-repeat;
  background-size: 14px 14px;
}


/*控制音频的格式*/
.audioWrap{
  width:100% !important;
}
.content{
  width:auto !important;
}
.progress,.timeContemt{
  width:98% !important;
}
.audioBtnImg{
  width:42px !important;
}
