<Modal v-model="uploadAudio" :mask-closable="maskClosable" width="768" id="audio-upload-pop">
    <p slot="header">音频资源上传</p>
    <div class="audio-content-container">
        <div class="ivu-form-item">
            <label  style="width:80px;padding-left:32px;">来源：</label>
            <Radio-group v-model="source" style="margin-left:10px;" >
                 <Radio label="local">本地上传</Radio>
                 <Radio label="link">网络</Radio>
             </Radio-group>
        </div>
        <div v-show="source == 'link'">
            <Form :model="linkForm" ref="linkForm" :rules="linkFormRule" :label-width="80">
                <Form-item label="url地址：" prop="url">
                    <Input v-model="linkForm.url" placeholder="http://"></Input>
                </Form-item>
                <Form-item label="名称：" prop="name">
                    <Input v-model="linkForm.name" ></Input>
                </Form-item>
                <Form-item class="link-btn">
                    <Button type="primary" shape="circle" @click="submitLinkAudio('linkForm')">确定</Button>
                    <Button type="ghost" shape="circle" @click="uploadAudio = false" style="margin-left: 20px">取消</Button>
                </Form-item>
            </Form>
            <audio style="display: none;" :src="linkForm.url" id="linkaudio"></audio>
        </div>
        <div v-show="source == 'local'">
            <div class="select-audio" :class="{hide:ishideone}">
                <label  style="width:80px;padding-left:32px;">文件：</label>
                <Input  placeholder="*.mp3" style="width:60%" readonly></Input>
                <Upload :action="action"
                        :format="['mp3']"
                        accept=".mp3"
                        :max-size="30720"
                        :show-upload-list=false
                        style="display: inline-block;"
                        :on-exceeded-size="handleMaxSize"
                        :before-upload="handleBeforeUpload"
                        :on-progress="uploadingAudio"
                        :on-success="handleSuccess"
                        :on-error="handleError"
                        :on-format-error="handleFormatError"
                        >
                    <Button type="primary" shape="circle" style="margin-left:20px;">选择文件</Button>
                </Upload>
            </div>
            <div class="upload-audio" :class="{hide:!ishideone}">
                <label  style="width:80px;padding-left:32px;">文件：</label>
                <span>{{audioname}}</span>
                <span class="tip" style="float:right;padding-lef">{{uploadtip}}</span>
                <Progress :percent="percentage" :stroke-width="30" style="margin:35px 0 35px 30px;"></Progress>
                <div style="text-align:center;"><Button type="ghost" shape="circle" :class="{hide:!isuploading}" @click="cancelUpload">取消上传</Button></div>
                <div style="text-align:center;" :class="{hide:!isfail}">
                     <Upload :action="action"
                        :format="['mp3']"
                        accept=".mp3"
                        :max-size="30720"
                        :show-upload-list=false
                        style="display: inline-block;"
                        :on-exceeded-size="handleMaxSize"
                        :before-upload="handleBeforeUpload"
                        :on-progress="uploadingAudio"
                        :on-success="handleSuccess"
                        :on-error="handleError"
                        :on-format-error="handleFormatError"
                        >
                    <Button type="primary" shape="circle" style="margin-left:20px;">重新上传</Button>
                </Upload>
                </div>
                <div style="text-align:center" :class="{hide:!isfinishupload}">
                    <Button type="primary" shape="circle" @click="insertAudioEditor('')">确定</Button>
                    <Button type="ghost" shape="circle" style="margin-left: 20px" @click="uploadAudio =false">取消</Button>
                </div>
            </div>

        </div>

    </div>
</Modal>
