#audio-upload-pop  .ivu-modal-header{
    background: #F3F3F3; 
}
#audio-upload-pop  .ivu-modal-header p{
    color:#999999;
    font-weight: 500; 
}
#audio-upload-pop .ivu-modal-footer{
    display: none;
}
.audio-content-container{
    text-align: left;
    padding:50px 50px 20px 50px;
    background: url('../../assets/svg/audio-back.svg') center center no-repeat;
    background-size: 80% 80%;
}
.link-btn .ivu-form-item-content{
     text-align:center;
    margin-left:0 !important;
}
