<section>
  <div v-if="isLoading || data.length>0">
  <table class="table" style="margin-top:20px;">
    <thead>
      <tr>
        <th style="width:70px">序号</th>
        <th style="width:200px">BANNER</th>
        <th style="width:20px"></th>
        <th style="width:320px">URL</th>
        <th>时间</th> 
        <th style="width:68px">操作</th>
      </tr>
    </thead>    
    <tbody>
      <tr v-for="(item,index) in data" class="tr-hover">
        <td>{{index+1}}</td>
        <th scope="row">
          <div v-if="item.path" class="imagePlaceholder" :style="{backgroundImage:'url('+item.path+')'}"></div>
          <cropper-upload v-else :width="1412" :height="170" :cropUploadSuccess="onSuccess" :cropUploadFail="onError" :ki="item.id">
            <div class="imagePlaceholder">
              <div class="title">点击上传广告图片</div>
              <div class="sub-title">尺寸要求: 1414*170</div>
            </div>
          </cropper-upload>
        </th>
        <th scope="row" style="padding:0">
          <cropper-upload :width="1412" :height="170" :cropUploadSuccess="onSuccess" :cropUploadFail="onError" :ki="item.id">
            <a v-if="item.path" href="javascript:void(0)">
              <Icon type="edit"></Icon>
            </a>
          </cropper-upload>
        </th>
        <td>
          <Input :ref="item.id" v-if="item.isEdit" v-model="item.url" @on-blur="onBlur(index)" placeholder="请输入链接" style="width: 250px"></Input>
          <span v-else @dblclick="handleDblclick(item)">
            <span v-if="item.url">{{item.url}} <span style="color:#999">双击修改链接</span></span>
            <span v-else>双击输入链接</span>
          </span>
        </td>
         <td>{{item.ordertime}}</td> 
        <td style="font-size:20px;">
          <Tooltip content="删除" placement="top">
            <a href="javascript:void(0)" @click="onRemove(index)">
              <img src="../../../assets/operator/del.svg" class="icon-size">
            </a>
          </Tooltip>
        </td>
      </tr>
    </tbody>
  </table>
   <a href="javascript:;" @click="onAdd" v-if="data.length<5" class="add-ad-position">
    <Icon type="plus-round"></Icon> 添加广告位</a>
  <div style="padding: 30px;">
    <Button :disabled="!isModify" type="primary" size="large" shape="circle" @click="onSubmit" :loading="isSubmit">提交</Button>
    <Button :disabled="!isModify" 
    v-bind:style="{
      'margin-left':'20px',
      'color':!isModify?'#bbbec4!important':'',
      'background-color':!isModify?'#f7f7f7!important':'',
      'border-color':!isModify?'#dddee1!important':''
    }" 
      type="ghost" size="large" shape="circle" @click="onCancel">取消</Button>
  </div>
  </div>
  <div v-else>    
    <table class="table" style="margin-top:20px;">
    <thead>
      <tr>
        <th style="width:70px">序号</th>
        <th style="width:200px">BANNER</th>
        <th style="width:20px"></th>
        <th style="width:320px">URL</th>
         <th>时间</th> 
        <th style="width:68px">操作</th>
      </tr>
    </thead>  
    </table>
    <a href="javascript:;" @click="onAdd" class="add-ad-position" style="margin-left: 20px;">
    <Icon type="plus-round"></Icon> 添加广告位</a>
    <div class="error-studio">
      <img src="../../../assets/error/no-data.svg">
      <p>暂无广告</p>
    </div>
  </div> 
  
  <Spin  size="large" fix v-if="isLoading">
    <Icon type="load-c" size=18 class="spin-icon-load"></Icon>
    <div>Loading</div>
  </Spin>
</section>