.imagePlaceholder{
  width: 200px;
  height: 80px;
  background: #E7E7E7;
  border: 1px solid #CCCCCC;
  text-align: center;
  font-weight: 400;
  cursor: pointer;
  display: inline-block
}
.imagePlaceholder .title{
  font-size: 16px;
  padding-top: 18px;
}
.imagePlaceholder .sub-title{
  font-size: 12px;
}