.reset-pwd{
    margin: 25px 0;
    font-size: 14px!important;
    padding-top: 10px;
}
.reset-pwd label{
    color: #999;
    width: 100px;
}
.reset-pwd span{
    margin-left: 80px;
    cursor: pointer;
    color: #2d8cf0;
}
.ivu-form .ivu-form-item-label{
    font-size: 14px!important;
}
.ivu-btn{
    padding: 8px 20px!important;
}