<div>
  <Row style="margin-left:50px;width:600px">
    <Col span="18">

    <Form ref="formValidate" :model="formValidate" :rules="ruleValidate" label-position="left" :label-width="100">
      <Form-item label="账号" prop="username">
        <Input v-model="formValidate.username" @on-change="allowSubmit"  placeholder="请输入账号名称"></Input>
      </Form-item>
      <div class="reset-pwd" v-if="this.id != '0'">
        <label>密码</label>
        <span @click="resetPassword" v-text="resetWord"></span>
      </div>
      <Form-item label="新密码" prop="password" v-if="resetPWD">
        <Input v-model="formValidate.password" @on-change="allowSubmit" placeholder="······" type="password"></Input>
      </Form-item>
      <Form-item label="确认密码" prop="passwordConfirm" v-if="resetPWD">
        <Input v-model="formValidate.passwordConfirm" @on-change="allowSubmit" placeholder="······" type="password"></Input>
      </Form-item>
      <Form-item label="LOGO" prop="logofile">
        <img v-if="formValidate.logofile" style="max-width:100px;border:1px solid #eee" :src="formValidate.logofile"
        />
        <cropper-upload :width="300" :height="200" :cropUploadSuccess="cropUploadSuccess" :cropUploadFail="cropUploadSuccess">
          <a v-if="formValidate.logofile" href="javascript:void(0)">
            <Icon type="edit"></Icon>
          </a>
          <Button v-else type="primary" shape="circle" icon="plus-round">上传</Button>
        </cropper-upload>
        建议logo长宽比为3:2
      </Form-item>
      <Form-item label="融合号" prop="studioname">
        <Input v-model="formValidate.studioname" @on-change="allowSubmit" placeholder="融合号名称编辑"></Input>
      </Form-item>
      <Form-item label="URL" prop="url">
        <Input v-model="formValidate.url" @on-change="allowSubmit" placeholder="URL地址编辑"></Input>
      </Form-item>
      <Form-item label="栏目绑定" prop="catalogid">
        <Select v-if="id!='0'" v-model="formValidate.catalogid" number placeholder="请选择" @on-change="allowSubmit">
          <Option-group v-for="option in catalogs" :key="option.id" :label="option.name">
              <Option v-for="item in option.catalogs" :key="item.id" :value="item.id">{{item.name}}</Option>
          </Option-group>
        </Select>              
        <Select v-else v-model="formValidate.catalogid" number placeholder="请选择" @on-change="allowSubmit">
          <Option-group v-for="option in catalogs" key="option.id" :label="option.name">
              <Option v-for="item in option.catalogs" key="item.id" :value="item.id+'_'+item.pid">{{item.name}}</Option>
          </Option-group>
        </Select> 
      </Form-item>
      <Form-item label="中央厨房指数" prop="accountindex">
        <Input v-model="formValidate.accountindex" @on-change="allowSubmit" placeholder="请输入中央厨房指数" number></Input>
      </Form-item>

      <Form-item style="margin-top: 80px;">
        <Button type="primary" :disabled="disabledS" shape="circle" @click="submit" :loading="isSubmit" style="margin-left:70px;">提交</Button>
        <Button type="ghost" :disabled="disabledS" shape="circle" 
        v-bind:style="{
          'margin-left':'20px',
          'color':disabledS?'#bbbec4!important':'',
          'background-color':disabledS?'#f7f7f7!important':'',
          'border-color':disabledS?'#dddee1!important':''
        }" 
        @click="cancel">取消</Button>
      </Form-item>
    </Form>
    </Col>
  </Row>
  <Spin size="large" fix v-if="isLoading">
    <Icon type="load-c" size=18 class="spin-icon-load"></Icon>
    <div>Loading</div>
  </Spin>
</div>