<div class="vue-cropper">
  <div class="vue-cropper-drop-area" @dragleave="preventDefault" @dragover="preventDefault" @dragenter="preventDefault" @click="handleClick"
    @drop="handleChange">
    <slot></slot>
    <input type="file" @change="handleChange" ref="fileinput">
  </div>
  <Modal title="图片裁剪" v-model="visible" :mask-closable="false" class-name="vue-cropper-modal" width="700">
    <div class="vue-cropper-crop">
      <img ref="image" :src="sourceImgUrl">
    </div>
    <div slot="footer" class="crop_footer">
      <Button-group style="float:left">
        <Button type="ghost" icon="ios-arrow-thin-left" @click="move('left')"></Button>
        <Button type="ghost" icon="ios-arrow-thin-right" @click="move('right')"></Button>
        <Button type="ghost" icon="ios-arrow-thin-up" @click="move('up')"></Button>
        <Button type="ghost" icon="ios-arrow-thin-down" @click="move('down')"></Button>
      </Button-group>
      <Button-group style="float:left;margin-left: 10px;">
        <Button type="ghost" icon="ios-plus-outline" @click="zoom('in')"></Button>
        <Button type="ghost" icon="ios-minus-outline" @click="zoom('out')"></Button>
      </Button-group>
      <Button-group style="float:left;margin-left: 10px;">
        <Button type="ghost" @click="scale('h')"><i class="fa fa-arrows-h" aria-hidden="true"></i></Button>
        <Button type="ghost" @click="scale('v')"><i class="fa fa-arrows-v" aria-hidden="true"></i></Button>
      </Button-group>
      <Button-group style="float:left;margin-left: 10px;">
        <Button type="ghost" icon="ios-reload" @click="rotate()"></Button>
      </Button-group>
      <div class="vue-cropper-drop-area" @dragleave="preventDefault" @dragover="preventDefault" @dragenter="preventDefault" @click="handleClick($event,'resel')"
        @drop="handleChange">
        <Button type="ghost" icon="ios-cloud-upload-outline">重新选择图片</Button>
      </div>
      <Button type="primary" @click="createImg">确定</Button>
      <div class="vue-cropper-progress" v-if="uploading">
        <Progress :percent="progress" :stroke-width="5" status="active"></Progress>
      </div>
    </div>
  </Modal>
</div>
