.vue-cropper{
  display: inline-block
}
.vue-cropper-crop{
  height: 400px;
  position: relative;
}
.vue-cropper-modal .ivu-modal-body{
  padding: 0;
  height:400px;
}
.vue-cropper-modal .ivu-modal-footer{
  position: relative
}
.vue-cropper-drop-area{
  display: inline-block;
}
.vue-cropper-drop-area input{
  display: none
}
.vue-cropper-progress{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top:0;
  background: rgba(255,255,255,0.8);
  padding: 28px 10px;
}

/*魏征霖修改*/
.cropper-container{
	margin: 0 auto;
}
.crop_footer{
	padding: 10px;
}
