<Modal v-model="uploadVideo" width="768" id="video-upload-pop">
    <p slot="header">
        <span class="video-header-span" :class="tabName == 'link'?'main-color':''" @click="changeTab('link')">视频外链</span>
        <span class="video-header-span" :class="tabName == 'local'?'main-color':''" @click="changeTab('local')">本地上传</span>
        <span class="video-header-span" :class="tabName == 'resource'?'main-color':''" @click="changeTab('resource')">素材管理</span>
    </p>
    <!-- 外链地址-->
    <div v-if="tabName == 'link'" style="text-align: center;margin:10px 0;height:350px;">
         <Input v-model="videoLink" placeholder="视频外链添加，建议格式为mp4" style="width:80%;"></Input>
         <div class="video-preview-link" style="position: relative;">
             <span class="link-preview-tip">视频预览窗口</span>
             <h2 style="position: absolute;left:15%;top:40%;z-index: 1;" v-if="videoLink">输入的视频地址有误，请检查后再试</h2>
             <div ref="linkVideoHtml" id="previewLinkVideo"><p style="text-align:center;"><video :class="{hide:ishidelinkvideo}" width="640" height="auto" wmode="transparent" play="true" loop="false" menu="false" allowscriptaccess="never" allowfullscreen="true"  :src="videoLink"  preload="load" controls="controls"><source :src="videoLink"  type="video/mp4" /></video></p></div>
         </div>
         <div class="video-footer">
            <Button type="primary" shape="circle" style="margin:0 20px;" @click="addLinkVideo">添加</Button>
            <Button type="ghost" shape="circle" style="margin:0 20px;" @click="cancelLinkVideo">取消</Button>
        </div>
    </div>
     <!-- 素材管理-->
    <div v-else-if="tabName == 'resource'" style="height:370px;overflow:hidden;">
       <ScrollBar v-if="!isHideSourceBtn" :previewCon="materialVideos" @changeSelVideo="changeSelVideo" :selVideoid="selVideoid" scrollHeight="290px" setConHeight="300px"></ScrollBar>
       <div v-else class="none-resource"><span>无素材内容</span></div>
       <div class="video-preview" id="videoPreview1" ref="videoPreview1" style="display: none;"></div>
         <div class="video-footer">
            <Button type="primary" shape="circle" style="margin:0 20px;" @click="addSourceVideo" :class="{hide:isHideSourceBtn}">添加</Button>
            <Button type="ghost" shape="circle" style="margin:0 20px;" @click="uploadVideo=false" :class="{hide:isHideSourceBtn}">取消</Button>
        </div>
    </div>
     <!-- 本地上传-->
    <div :class="{hide:isHideLocal}" style="margin:10px 0;height:350px;" >
        <div class="video-local-upload video-step-1" :class="{hide:idHideStepOne}">         
           <Button type="primary" shape="circle" style="margin:80px 0 30px 0;" id="pickfile">上传视频</Button>
           <div>{{video.loadingMsg}}</div> 
            <p class="local-step1-tip">建议上传720p（1280*720）或更高分辨率的视频，大小不超过2G<br/>视频格式:建议上传mp4和HLS文件<br/>支持格式：MOV,MP4,MP4V,M4V,MKV,AVI,FLV,3GP,RM,RAM,MPG,MPEG,MPE,VOB,DAT,WMV,WM,ASF,ASX</p>
        </div>
        <div class="video-local-upload video-step-2" :class="{hide:idHideStepTwo}">
           <div class="title">{{video.name}}</div>
           <Progress :percent="video.percent" :stroke-width="30" style="margin:30px 0 50px 0;" id="video-progress"></Progress>
           <div style="color: #999;"><label style="float:left">已上传：{{video.uploadedSize}}/{{video.allSize}}</label><label>上传速度：{{video.speed}}</label><label style="float:right">剩余时间：{{video.leftTime}}</label></div>
           <div class="video-footer" style="margin-top:110px;">
                <Button type="ghost" shape="circle" id="stop_upload">取消上传</Button>
            </div>
        </div>
         <div class="video-local-upload video-step-3" :class="{hide:idHideStepThree}">
           <div class="title">{{video.name}}</div><Button type="primary" shape="circle" class="re-upload-btn" @click="reUpload">重新上传</Button>
           <div class="video-preview" id="videoPreview" ref="videoPreview" style="margin-top:0;margin-bottom:4px;"></div><br/>
           <span class="main-color">视频比例16:9 成功上传的视频不能播放，是因为系统需要对上传的视频进行转码，可先完善其他信息</span>
            <div class="video-footer" style="margin-top:10px;">
            <Button type="primary" shape="circle" style="margin:0 20px;" @click="addLocalVideo">添加</Button>
            <Button type="ghost" shape="circle" style="margin:0 20px;" @click="uploadVideo=false">取消</Button>
        </div>
        </div>
        <div class="video-local-upload video-step-4" :class="{hide:idHideStepFour}">
           <div class="title">{{video.name}}</div>
           <span style="font-size: 14px;color: #F95759;">上传失败/视频无效</span>
          <Progress :percent="0" :stroke-width="30" style="margin:10px 0 30px 0;"></Progress>
            <p style="text-align: left;color: #F95759;line-height: 40px;">建议上传720p（1280*720）或更高分辨率的视频，大小不超过2G<br/>视频格式:建议上传mp4和HLS文件<br/>支持格式：MOV,MP4,MP4V,M4V,MKV,AVI,FLV,3GP,RM,RAM,MPG,MPEG,MPE,VOB,DAT,WMV,WM,ASF,ASX</p>
             <div class="video-footer">
                <Button type="primary" shape="circle" style="margin:0 20px;" @click="reUpload">重新上传</Button>
                <Button type="ghost" shape="circle" style="margin:0 20px;" @click="uploadVideo=false">取消</Button>
            </div>
        </div>
    </div>
    
</Modal>