<div class="wrap">
  <div class="login-form">
    <p class="login-txt">登录</p>
    <Form ref="formItem" :model="formItem" :rules="formRules" class="login">
      <Form-item prop="username">
        <Input v-model="formItem.username" placeholder="请填写用户名" @on-enter="handleSubmit('formItem')">
        <!-- <Icon type="ios-person-outline" slot="prepend"></Icon> -->
        </Input>
      </Form-item>
      <Form-item prop="password">
        <Input v-model="formItem.password" placeholder="请填写密码" type="password" @on-enter="handleSubmit('formItem')">
        <!-- <Icon type="ios-locked-outline" slot="prepend"></Icon> -->
        </Input>
      </Form-item>
      <div class="remember-pwd clearfix">
        <div class="r-radio">
          <img src="../../assets/login/rm.svg"><span>记住密码</span>
        </div>
        <div class="r-test">
          <img src="../../assets/login/test.svg"><span>申请内测</span>
        </div>
      </div>
      <Form-item>
        <Button type="primary" @click="handleSubmit('formItem')" :disabled="loginDisabled" :class="{'login-btn':true,disabled:loginDisabled}"
          style="width:100px!important;height:35px;margin:0 auto;">登录</Button>
      </Form-item>
    </Form>
    <Spin size="large" v-if="isLoading">
      <Icon type="load-c" size=18 class="spin-icon-load"></Icon>
      <div>Loading</div>
    </Spin>
  </div>

  <div class="inner-page" v-bind:style="{'width':screenWidth+'px','height':screenHeight+'px'}">
    <img src="../../assets/login/bg1.png">
  </div>
  <div class="inner-page" v-bind:style="{'width':screenWidth+'px','height':screenHeight+'px','display':'none'}">
    <img src="../../assets/login/bg2.png">
  </div>
</div>
