.ivu-modal-body {
  /*height:500px;*/
}

.m-r-20 {
  margin-right: 20px;
}

.m-r-10 {
  margin-right: 10px;
}

.m-t-20 {
  margin-top: 20px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.pointer {
  cursor: pointer;
}

.style-line {
  display: inline-block;
}

.main-color {
  color: #F95759 !important;
}

.ivu-form-item-label {
  color: #757575 !important;
}

.content-pic {
  width: 100%;
  color: #ccc;
  position: relative;
}

.center {
  text-align: center;
}

#contentPop .ivu-btn-text, #localPop .ivu-btn-text {
  display: none;
}

#contentPop .ivu-modal-footer, #localPop .ivu-modal-footer {
  border-top: none;
  text-align: center;
}

#contentPop .ivu-btn-primary, #localPop .ivu-btn-primary {
  background-color: #F95759;
  border-color: #F95759;
  margin: 10px 0;
}

#localPop label {
  margin-top: 20px;
  color: #F95759;
}

#localUpload .ivu-btn:hover {
  color: #F95759;
  border-color: #F95759;
}

.content-cover-container {
  max-height: 350px;
  overflow: hidden;
}

.active-color {
  color: #F95759;
}

.active-border {
  border: 1px solid #F95759;
}

#contentPop .content-pic img {
  height: 118px;
}

#contentPop .content-pic img.active-border {
  width: 97%;
}

#localPop .content-pic img {
  width: 100%;
}

#localUpload {
  display: inline-block;
}


/* .ivu-modal-header {
  background: #f3f3f3;
} */

.cover-container {
  border: 1px solid #dddee1;
  border-radius: 4px;
  padding: 4px 7px;
  min-height: 115px;
}

.form-item-cover {
  margin-bottom: 15px !important;
}

.layout-container {
  padding-top: 30px;
}

.btn {
  width: 64px;
  padding: 5px 10px 5px 27px;
  color: #F95759;
  background-position: 10px;
  border: 1px solid #F95759;
  border-radius: 22px;
  display: inline-block;
  cursor: pointer;
}

#publish-btn {
  color: #F95759 !important;
  border-color: #F95759 !important;
}

#publish-btn:hover {
  color: #fff !important;
  background: #F95759 !important;
}

.save-btn {
  background: url(../../assets/svg/保存1.svg) 20% center no-repeat;
  background-size: 14px 14px;
}

.btn-icon {
  padding: 5px 10px;
  color: #F95759;
  display: inline-block;
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.save-btn-icon {
  background: url(../../assets/svg/保存1.svg) center center no-repeat;
}

.share-btn-icon {
  background: url(../../assets/svg/分享1.svg) center center no-repeat;
}

.preview-btn-icon {
  background: url(../../assets/svg/预览1.svg) center center no-repeat;
}

#localPop .ivu-modal-content .ivu-modal-body {
  height: auto;
}

#contentPop .ivu-modal-content .ivu-modal-body {
  height: 28vw;
  overflow: hidden;
}
 .layout-ceiling {
    padding: 1px 50px;
    overflow: hidden;
    border-bottom:1px solid #ddd;
  }
  .layout-ceiling .logo{
    float: left;
  }
  .layout-ceiling .logo img{
    height: 30px;
    margin-top: 8px;
  }
  .layout-ceiling-main {
    float: right;
    line-height: 50px;
    vertical-align: middle
  }
  .layout-ceiling-main a {
    color: #757575;
    float: left;
  }
  .layout-ceiling-main a img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    box-shadow: 0 0 1px #999;
    float: left;
    margin-right: 20px;
  }
  .layout-ceiling-main a.nickname{
    font-size: 18px;
    margin-right: 10px;
    color:#333;
  }
  #sharePop .ivu-modal{
      width:auto !important;
  }


/*weizhenglin*/

#contentPop .content-pic img {
  width: 98%;
}

#contentPop .scrollBar {
  right: 11px;
  top: 0;
  height: 335px;
}

#contentPop .set-con {

  height: 335px;
  padding: 10px 15px;
}

#contentPop .ivu-modal-content .ivu-modal-body {
  height: 400px;
  width: auto;
  padding: 25px 15px 15px;
}

.previewContent .ivu-modal-content .ivu-modal-footer {
  border: none;
  padding: 0;
}

.previewContent .ivu-modal-content .ivu-modal-header p {
  font-size: 12px;
  font-weight: 500;
}

.previewContent .ivu-modal-content .ivu-modal-header p span {
  margin-right: 10px;
  cursor: pointer;
}

.previewContent .ivu-modal-content .ivu-modal-header p span.select {
  color: #F95759;
}

.previewContent .ivu-modal-content .ivu-modal-header {
  background: #F3F3F3;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 10px 20px 5px;
}

.previewContent .ivu-modal-content {
  border-radius: 5px;
}

.previewContent .ivu-modal-content .ivu-modal-close .ivu-icon-ios-close-empty {
  font-size: 25px;
  color: #757575;
}

.set-max-height {
  border: 1px solid #ccc;
  border-radius: 20px;
}

.set-line {
  height: 25px;
  border-bottom: 1px solid #ccc;
}

.set-max-height h2 {
  text-align: center;
  font-size: 25px;
  font-weight: 500;
}

.set-con {
  padding: 10px 15px;
  height: 430px;
  margin: 10px 0 0 0;
  overflow: hidden;
  position: relative;
}

.set-con p {
  margin: 5px 0;
  position: relative;
  word-break: break-all;
}
.set-con .download_video{
  position: absolute;
  right: calc(50% - 320px);
  text-decoration: none;
  padding-left: 20px;
  display: inline-block;
  color: #b2b2b2;
  background: url(../../assets/svg/download.svg) left center no-repeat;
  background-size: 14px 14px;
}

.set-con ol.list-paddingleft-2 {
  padding-left: 20px;
}

.set-con ul.list-paddingleft-2 {
  padding-left: 20px;
}

.set-con .yulan img {
  max-width: 98%;
  height: auto;
}

.yulan pre {
  margin: .5em 0;
  padding: .4em .6em;
  border-radius: 8px;
  background: #f8f8f8;
}

.ivu-modal {
  width: 50%;
}

.set-posi {
  position: absolute;
  width: 97%;
}

.ivu-modal-wrap.pc .video_container>div{
  width:640px !important;
  height:360px !important;
}
.ivu-modal-wrap.mobile .video_container>div{
  width:227px !important;
  height:114px !important;
}



/*在手机上预览*/
.ivu-modal-wrap.mobile .ivu-modal-content .ivu-modal-body {
  background: url(../../assets/mobile_bg.svg) center 10px no-repeat;
  background-size: 240px 480px;
  height: 500px;
}

.ivu-modal-wrap.pc .ivu-modal-content .ivu-modal-body {
  height: 500px;
}

.ivu-modal-wrap.mobile .set-line {
  display: none;
}

.ivu-modal-wrap.mobile .set-max-height {
  border: none;
}

.ivu-modal-wrap.mobile .set-con {
  width: 260px;
  margin: 0px auto 0px;
  padding: 0;
  height: 470px;
  transform: scale(0.75);
  -ms-transform: scale(0.75);
  -webkit-transform: scale(0.75);
  -o-transform: scale(0.75);
  -moz-transform: scale(0.75);
}

.ivu-modal-wrap.mobile .set-con .download_video{
  right: 10px;
  bottom: -20px;
}

.ivu-modal-wrap.mobile .set-max-height h2 {
  font-size: 16px;
}

.ivu-modal-wrap.mobile .set-con .yulan img {
  max-width: 100%;
  height: auto;
}

.ivu-modal-wrap.mobile {
  font-size: 12px !important;
  line-height: 16px;
}

.ivu-modal-wrap.mobile h1, .ivu-modal-wrap.mobile h2, .ivu-modal-wrap.mobile h3, .ivu-modal-wrap.mobile h4, .ivu-modal-wrap.mobile h5, .ivu-modal-wrap.mobile h6 {
  font-size: 16px !important;
}

/*.ivu-modal-wrap.pc embed {
  margin: 10px auto;
}*/

.ivu-modal-wrap.mobile embed, .ivu-modal-wrap.mobile video {
  width: 90% !important;
  height: auto !important;
  display: block;
  margin: 10px auto;
}
.mobile .audioWrap{
  width:100%;
  height:84px;
}
.mobile .audioBtn{
  width:30px;
  height:30px;
  top:40%;
}
.mobile .content{
  width:80%;
  margin-left:60px;
}
.mobile .timeContemt,.mobile .progress,.mobile .songName{
  width:90%;
}


.cover-tip {
  margin-left: 10px;
  color: #F95759;
}

.layout-footer{
  text-align: center;
  padding: 10px 0 0px;
}
.layout-footer-top{
  font-size: 16px;
  color: #999;
  padding: 10px 0 30px;
}
.layout-footer-top .item{
  display: inline-block;
  margin: 0 10px;
}
.layout-footer-top img {
  height: 20px;
  position: relative;
  bottom: -3px
}
.layout-footer-bottom {
  background: #F3F3F3;
  color: #9ea7b4;
  line-height: 50px;
  height: 50px;
}
#tab  .ivu-tabs-bar{
  margin:16px 85px 0 140px;
}

#tab .ivu-tabs.ivu-tabs-card > .ivu-tabs-bar .ivu-tabs-tab{
  margin-right:0;
  border:none;
  background:none;
  transition: none;
}
#tab .ivu-tabs.ivu-tabs-card > .ivu-tabs-bar .ivu-tabs-tab-active{
  border-left:1px solid #F95759;
  border-top:1px solid #F95759;
  border-right:1px solid #F95759;
  border-bottom:1px solid #fff;
}

/*滚动条*/


/*.scrollBar{
	position: absolute;
	right: 15px;
	top: 10px;
	height: 23vw;
	border-right: 1px solid #ccc;
}
.scrollBar_con{
	width: 7px;
	height: 50px;
	border-radius: 10px;
	position: absolute;
	top: 0px;
	left: 5px;
	background: #ccc;
}*/


/*手机端滚动条*/

.ivu-modal-wrap.mobile .scrollBar {
  top: 0px;
  height: 470px;
  border: none;
  right: 4px;
}

.ivu-modal-wrap.mobile .scrollBar_con {
  width: 4px;
  left: 0px;
}

.ivu-modal-wrap.mobile .set-posi {
  width: 97%;
}


/*编辑器*/

.edui-editor-bottomContainer {
  display: none;
}

.edui-default .edui-colorpicker-nocolor {
  box-sizing: content-box !important;
}

.font-color {
  color: #5e5e5e;
}

.title-input {
  width: 100%;
  border: none;
  outline: 0;
  border-bottom: 1px solid #ddd;
  /* margin-bottom:10px;*/
  vertical-align: middle;
  background-size: 20px;
  position: relative;
}

#titleContent .ivu-input {
  background: url("../../assets/svg/标题编辑.svg") left top no-repeat;
  border: none;
  padding: 0 60px 10px 40px;
  box-shadow: none;
  font-size: 16px;
}

#titleContent .ivu-input:focus,#subTitle .ivu-input:focus {
  border: none;
  box-shadow: none;
}


#subTitle .ivu-input{
  background: url("../../assets/svg/副标题.svg") left top no-repeat;
  border: none;
  padding: 0 60px 10px 40px;
  box-shadow: none;
  font-size: 16px;
}
.limit-words,.sub-limit-words {
  position: absolute;
  right: 16%;
  top: 0;
  z-index: 10;
  font-size: 14px;
}
.add-sub-title{
  position: absolute;
  right:0;
  top: 0;
  color:#fa575a;
  border-color:#fa575a;
}

.limit-words>span,.sub-limit-words>span {
  color: #fa575a;
}
.sub-limit-words{
  right: 0;
}
.delete-icon{
  display: inline-block;
  width:23px;
  height:21px;
  background: url("../../assets/svg/红色删除.svg") center bottom no-repeat;
  background-size: 70% 70%;
  cursor: pointer;
}

.hide {
  display: none;
}
/* 分享 */
.share_hide .ivu-modal-mask {
  background: none
}

.share_hide .ivu-modal {
  padding: 10px;
  position: absolute;
  right: 7%;
  border: 1px solid #999;
  border-radius: 5px;
  top: 195px;
  box-shadow: 0 0 5px #666;
  z-index: 2;
  background: #fff;
}

.share_hide .ivu-modal-content .ivu-modal-body {
  height: auto;
  padding: 0;
}

.share_hide .ivu-modal-body img {
  width: 120px;
  height: 120px;
  display: block;
  padding: 5px;
  border: 1px solid #ccc;
  margin: 20px auto;
}

.share_hide .ivu-modal-content .ivu-modal-footer {
  display: none;
}

.share_hide .ivu-modal-body div {
  font-size: 14px;
}

.share_hide .ivu-modal-body div input {
  width: 180px;
  border: none;
  outline: none;
  color: #757575;
}

.share_hide .ivu-modal-body div span {
  color: #F95759;
  cursor: pointer;
  margin-left: 10px;
}

.share_hide .ivu-modal-body p {
  font-size: 12px;
  color: #ccc;
}

.share_hide .ivu-modal-body p span {
  font-size: 18px;
  color: orange;
}

.go-back {
  margin-left: 5px;
  font-size: 14px;
  color: #333
}

.pointer.main-color {
  color: #F95759 !important;
  border-color: #F95759 !important;
  padding: 5px 10px !important;
}

