<section>
  <Form ref="formTop" :model="formTop" label-position="top" :rules="ruleValidate">
    <Row :gutter="34">
      <Col span="6">
      <Icon type="arrow-left-a"></Icon>
      <a class="go-back" href="javascript:void(0)" @click="goBack">返回</a>
      </Col>
      </Col>
    </Row>
    <Row :gutter="34">
      <Col span="17" class="m-t-20">
      <Form-item label="" prop="title">
        <Input id="titleContent" v-model="formTop.title" :maxlength="titleMaxCount" class="title-input" placeholder="请输入标题" @on-change="getTitleContent"></Input>
        <span class="limit-words">
          <span>{{titleContentCount}}</span>/22
        </span>
      </Form-item>

      <textarea id="editor" style="width:100%;height:600px;margin-bottom: 6px;">{{formTop.content}}</textarea>
      <span style="color:#F95759;" :class="{hide:hideTip}">正文不能为空</span>
      </Col>
      <Col span="7" class="m-t-20">
      <Button type="ghost" class="publish-btn" shape="circle" icon="paper-airplane" @click="publish('formTop')" style="color:#F95759;border-color:#F95759;">发布</Button>

      <div class="pull-right">
        <div style="position: relative;display: inline-block;">
         <button style="position: absolute;top:-20px;" :class="{hide:hidesave}">保存</button>
          <div class="btn-icon save-btn-icon m-r-10" @click="save('formTop',false)" @mouseover="hidesave =false" @mouseout="hidesave = true"></div>

          <button style="position: absolute;top:-20px;" :class="{hide:hideshare}">分享</button>
          <div class="btn-icon share-btn-icon m-r-10" @click="share" @mouseover="hideshare =false" @mouseout="hideshare = true">

          <Modal v-model="qCode" class="share_hide" width="auto" :closable="false" ref="shareHide">
            <vue-q-art :config="config" :downloadButton="downloadButton" style="text-align: center;"></vue-q-art>
            <div>
              <input type="text" v-model="config.value" ref="copyInput" readonly /><span @click="CopyUrl($event)">复制</span>
            </div>
            <p>链接有效时间为<span>2小时</span><br />通过扫描二维码和复制文章链接<br />可以将文章转发给成员观看</p>
          </Modal>
        </div>
          <button style="position: absolute;top:-20px;" :class="{hide:hidepreview}">预览</button>
        <div class="btn-icon preview-btn-icon " @click="showPreviewContent" @mouseover="hidepreview =false" @mouseout="hidepreview = true"></div>
        </div>
      </div>
      <Modal v-model="previewContent" width="768" :class-name="tabView" class="previewContent">
        <p slot="header" ref="scrollWarp">
          <span :class="{ select: tabView == 'pc' }" @click="changeView('pc')">pc样式预览</span>
          <span :class="{ select: tabView == 'mobile' }" @click="changeView('mobile')">移动端样式预览</span>
        </p>

        <ul class="set-max-height">
          <div class="set-line"></div>
          <ScrollBar @element="change" :elements="elements" :preview-con="previewCon[0]"></ScrollBar>
        </ul>
        <p slot="footer">
        </p>
      </Modal>
      <div style="margin:20px 0;font-size:14px;">发布设置</div>

      <Form-item label="渠道" v-if="roleType == 'Edit'">
        <Select v-model="formTop.channel" placeholder="请选择">
          <Option v-for="(item,index) in publishChannels" :value="item" :key="index" >{{item}}</Option>
        </Select>
      </Form-item>
      <Form-item label="作者（作者最多3个，空格键添加）" prop="authorArr">
        <div style="position:relative">
          <label for="authors" class="author-container" style="position:absolute;z-index:9;padding-left:7px;max-width:100%;overflow:hidden;height:32px;font-size:12px;" ref="authorContainer">
            <span v-for="(item,index) in formTop.authorArr" style="margin-right:10px;">{{item}}<span @click.stop="closeAuthor(index)" :class="{hide:isHideClose}"><Icon type="close" class="main-color"></Icon></span></span>
          </label>
          <input id="authors" :maxlength="authorMaxCount" :placeholder="placeauthor" class="ivu-input" v-model="author" @keyup="checkAuthorCount" @blur="authorBlur" ref="authorInput"></input>
        </div>
        <span style="color:#F95759;" ref="authorTip" class="ivu-form-item-error-tip" :class="{hide:isHideAuthor}">作者不能重复</span>
      </Form-item>
      <Form-item label="关键字（关键字最多5个，空格键添加）" v-if="roleType == 'Edit'">
        <div style="position:relative">
          <label for="keywords" class="keyword-container" style="position:absolute;z-index:9;padding-left:7px;max-width:100%;overflow:hidden;height:32px;font-size:12px;" ref="keywordContainer">
            <span v-for="(item,index) in formTop.keywordArr" style="margin-right:5px;">{{item}}<span @click.stop="closeKeyword(index)" :class="{hide:isHideKeyClose}"><Icon type="close" class="main-color"></Icon></span></span>
          </label>
          <input id="keywords" :maxlength="keyMaxCount" :placeholder="placekeyword" class="ivu-input" v-model="keyword" @keyup="checkKeywordCount" @blur="keywordBlur" ref="keywordInput"></input>
        </div>
        <span style="color:#F95759" class="ivu-form-item-error-tip" :class="{hide:isHideKeyword}">关键字不能重复</span>
      </Form-item>
      <Form-item label="标签" v-if="roleType == 'Manage'" prop="label">
        <Select v-model="formTop.label" placeholder="请选择">
        <Option v-for="(item,index) in publishLabels" :value="index" :key="index" >{{item}}</Option>
      </Select>
      </Form-item>
      <Form-item label="封面" prop="cover">
        <Input v-model="formTop.cover" type="text" class="hide"></Input>
        <div class="cover-container"><img :src="formTop.cover" width=227 height=128 v-if="formTop.cover != ''" /></div>
        <span class="m-r-20 main-color pointer" @click="fromContent">正文选择</span>
        <image-crop-upload :width="478" :height="270" :cropUploadSuccess="onSuccess" :cropUploadFail="onError" :maxSize="2048">
          <span class="main-color pointer" @click="fromLocal">本地上传</span>
        </image-crop-upload>
      </Form-item>
     <!-- <Modal v-model="localModal" width="600" id="localPop">
        <p slot="header">
          <span>本地上传</span>
        </p>
        <Row :gutter="34" style="margin-top:20px;">
          <Col span="16">
          <div class="content-pic">
            <img :src="localDefaultSrc" class="m-b-10">
          </div>

          </Col>
          <Col span="8">
          <div class="content-pic">
            <span>预览封面</span>
            <img class="m-t-20" :src="localDefaultSrc">
          </div>
          </Col>
        </Row>
        <div style="position:relative">
          <label>图片大小2M以内支持PNG、JPG、JPEG格式<br/>
            您上传的图片自动会生成128*128像素的图片,请注意图片是否清晰
          </label>
          <Upload action="http://mp.dev.hubpd.com/api/image/upload" :headers="headers" ref="upload" id="localUpload" :show-upload-list="false"
            :on-success="handleSuccess" :on-error="handleError" :format="['jpg','jpeg','png']" :max-size="2048" :on-format-error="handleFormatError"
            :on-exceeded-size="handleMaxSize">
            <Button style="position:absolute;right:5%;top:0;" type="ghost" icon="ios-cloud-upload-outline" @click="fromLocal">本地上传</Button>
          </Upload>
        </div>
        <p slot="footer">
          <Button type="primary" shape="circle" @click="clickLocalCoverOk">确定</Button>
        </p>
      </Modal>-->
      <Modal v-model="contentModal" width="600" id="contentPop" :closable="false">
        <p slot="header">
          <span>正文选择</span>
          <a class="ivu-modal-close"><i @click="closeContentPop" class="ivu-icon ivu-icon-ios-close-empty"></i></a>
        </p>
        <div>
          <Row :gutter="34">
            <Col span="24">
            <div style="margin:0 0 20px 0;color:#757575;font-size: 1.1em">请从正文使用过的照片选择封面</div>
            </Col>
          </Row>
          <div class="content-cover-container">
            <ScrollBar @iIndex="index" :iIndex="iIndex" :preview-con="previewCon[1]" :contentCoverSrc="contentCoverSrc" :tempi="tempi"></ScrollBar>
          </div>
        </div>
        <p slot="footer">
          <!--<image-crop-upload :width="128" :height="128" :cropUploadSuccess="onSuccess" :cropUploadFail="onError" :maxSize="2048">
           &lt;!&ndash; <span class="main-color pointer" @click="fromLocal">本地上传</span>&ndash;&gt;
            <Button type="primary" shape="circle" @click="clickCoverOk">确定</Button>
          </image-crop-upload>-->
        </p>
      </Modal>

      <Form-item label="摘要" prop="summary">
        <Input v-model="formTop.summary" type="textarea" :autosize="{minRows: 5,maxRows: 5}" :maxlength="summaryMaxCount" @on-change="abstractWordCount"></Input>
        <span class="main-color pointer" @click="renderAbstract">生成摘要</span>
        <label style="position:absolute;right:20px;bottom:20%;color:#ccc"><span class="active-color">{{formTop.currentAbstractCount}}</span>/60</label>
      </Form-item>

      </Col>
    </Row>
  </Form>
</section>
